<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aa477b9-73e5-4e4f-8cc3-3ba74f50c515" Alias="200x150" Level="2">
  <Info>
    <Parent Key="0df5305b-bc45-49ac-a018-eb91c84bd426">Placeholders</Parent>
    <Path>/Placeholders/x150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-31T00:35:17</CreateDate>
    <NodeName Default="200x150" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/g04pfxem/placeholder_200x150.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>