<?xml version="1.0" encoding="utf-8"?>
<Media Key="2eedb40a-16d4-42f7-aaa8-9edf2e1967a0" Alias="32x32" Level="2">
  <Info>
    <Parent Key="0df5305b-bc45-49ac-a018-eb91c84bd426">Placeholders</Parent>
    <Path>/Placeholders/x32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-31T00:34:51</CreateDate>
    <NodeName Default="32x32" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qv5kxgf3/placeholder_32x32.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>