<?xml version="1.0" encoding="utf-8"?>
<Media Key="72f6cfd4-59fd-4d1f-b72f-16d14f048a9e" Alias="400x300" Level="2">
  <Info>
    <Parent Key="0df5305b-bc45-49ac-a018-eb91c84bd426">Placeholders</Parent>
    <Path>/Placeholders/x300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-31T00:35:29</CreateDate>
    <NodeName Default="400x300" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lmclbreu/placeholder_400x300.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>