<?xml version="1.0" encoding="utf-8"?>
<Media Key="95fa8551-6b04-4316-a060-c832657ef334" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-06T12:56:57</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>