<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8d0ca87-9113-4aab-8f86-769364612f59" Alias="default-47" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default47</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T15:13:22</CreateDate>
    <NodeName Default="default-47" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/baajmxt0/default-47.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>