<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d891f92-5327-4e89-a1c6-b6dc7a68ad2d" Alias="default-10" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T15:07:31</CreateDate>
    <NodeName Default="default-10" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dxkn5o0o/default-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>