<?xml version="1.0" encoding="utf-8"?>
<Media Key="918d5886-5afb-4bc5-bdae-7a3685aeaaf4" Alias="default-43" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default43</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T15:09:31</CreateDate>
    <NodeName Default="default-43" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bgjmwj2s/default-43.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>