<?xml version="1.0" encoding="utf-8"?>
<Media Key="33c8fea0-fa85-40e7-8d07-0d7c6d6deda2" Alias="default-25" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default25</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-04-03T15:08:29</CreateDate>
    <NodeName Default="default-25" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/koldhe3c/default-25.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>