<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b6bc2d0-039c-41ca-aaca-df1b6afd533a" Alias="default-35" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default35</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T15:09:04</CreateDate>
    <NodeName Default="default-35" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/l2ec1dpv/default-35.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>