<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae0e32e0-dbf1-47e5-a286-5b1a067eb2fd" Alias="default-12" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default12</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-04-03T15:07:42</CreateDate>
    <NodeName Default="default-12" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cnnpkdww/default-12.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>