<?xml version="1.0" encoding="utf-8"?>
<Media Key="efa806bc-d656-486c-8da8-c6cb30700065" Alias="default-23" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default23</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T15:08:16</CreateDate>
    <NodeName Default="default-23" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gpgo2wj5/default-23.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>