<?xml version="1.0" encoding="utf-8"?>
<Media Key="a18da630-3f97-4b10-af2e-054610f94021" Alias="default-39" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/default39</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T15:09:15</CreateDate>
    <NodeName Default="default-39" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/x3wmwf54/default-39.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>