<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fa7add3-0057-46e0-8f1a-fbc9252ce33a" Alias="Hero Background 1" Level="2">
  <Info>
    <Parent Key="329119c3-045e-49b6-8621-418262bba1d0">Images</Parent>
    <Path>/Images/HeroBackground1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-03T11:10:19</CreateDate>
    <NodeName Default="Hero Background 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lrtpd4j4/muh-2023-home-decor-trends-what-to-expect.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>