<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f5817c0-519e-4fa2-a861-dceb1eb38959" Alias="Instragram" Level="2">
  <Info>
    <Parent Key="95fa8551-6b04-4316-a060-c832657ef334">Brands</Parent>
    <Path>/Brands/Instragram</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T13:01:01</CreateDate>
    <NodeName Default="Instragram" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/j5ob3kpx/instagram.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>