<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a2a080e-adb7-40ee-941f-42e89b09f24f" Alias="LinkedIn" Level="2">
  <Info>
    <Parent Key="95fa8551-6b04-4316-a060-c832657ef334">Brands</Parent>
    <Path>/Brands/LinkedIn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T13:02:32</CreateDate>
    <NodeName Default="LinkedIn" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qhbgz1g4/linkedin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>