<?xml version="1.0" encoding="utf-8"?>
<Media Key="5565cbc7-fda7-44e5-8c88-2f57447613ee" Alias="logo.jpg" Level="2">
  <Info>
    <Parent Key="1410c88a-9512-4c94-b54e-024917730251">Logo</Parent>
    <Path>/Logo/logojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-07T10:55:53</CreateDate>
    <NodeName Default="logo.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jaadhy4o/logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>