<?xml version="1.0" encoding="utf-8"?>
<Media Key="36f617e4-e07e-47c0-a06d-4078ba69a7ee" Alias="MUH-2023-Home-Decor-Trends-What-to-Expect.jpg" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/MUH2023HomeDecorTrendsWhatToExpectjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-05T17:14:48</CreateDate>
    <NodeName Default="MUH-2023-Home-Decor-Trends-What-to-Expect.jpg" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/npolbaax/muh-2023-home-decor-trends-what-to-expect.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>