<?xml version="1.0" encoding="utf-8"?>
<Media Key="57cb43b7-2cfb-486d-8c3e-5b762697513e" Alias="rental-4.jpg" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-05T17:11:05</CreateDate>
    <NodeName Default="rental-4.jpg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hcej1yms/rental-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>