<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fdfa731-a5f2-4435-8dfe-ed0bfe756ff4" Alias="rental (36)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental36</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T15:05:31</CreateDate>
    <NodeName Default="rental (36)" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xzwjtkm1/default-16.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>