<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce733fcb-8e74-4bbc-8e96-869819729733" Alias="rental" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/rental</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T13:53:17</CreateDate>
    <NodeName Default="rental" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/it0dk4a3/galleryimages"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>