<?xml version="1.0" encoding="utf-8"?>
<Media Key="dda27803-2c30-486c-a4ee-629ea8484d6e" Alias="rentals/rental (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/rentalsrental1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T13:55:50</CreateDate>
    <NodeName Default="rentals/rental (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rszoi00z/galleryimages"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>