<?xml version="1.0" encoding="utf-8"?>
<Media Key="029fe307-e5b4-4893-ac9f-e4f0215f992c" Alias="rental (6)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:09:05</CreateDate>
    <NodeName Default="rental (6)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rauntng3/default-33.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>