<?xml version="1.0" encoding="utf-8"?>
<Media Key="960ae3ab-0a7f-4996-9eac-961eb6d11e39" Alias="rental (12)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:37:24</CreateDate>
    <NodeName Default="rental (12)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/equfyiaw/default-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>