<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d253315-5437-4b68-8876-c29a77344835" Alias="rental (1)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:02:15</CreateDate>
    <NodeName Default="rental (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tl2hhs04/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>