<?xml version="1.0" encoding="utf-8"?>
<Media Key="082f8457-b9d2-4b1a-9df3-e4ca4bed8a9f" Alias="rental (5)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:08:59</CreateDate>
    <NodeName Default="rental (5)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1bhgtpv1/default-32.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>