<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf31b0aa-fa5d-4ab8-89f8-3fff7ccbbf5b" Alias="rental (40)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental40</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T15:08:55</CreateDate>
    <NodeName Default="rental (40)" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ev3ho4ju/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>