<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed33264b-da97-4cb8-8d32-f894d8932a2d" Alias="rental (29)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental29</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:58:24</CreateDate>
    <NodeName Default="rental (29)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ytwhkw54/default-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>