<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c1c0266-64b9-4718-9dc5-5d1d53018709" Alias="rental (26)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental26</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:54:50</CreateDate>
    <NodeName Default="rental (26)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3hefv0wq/default-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>