<?xml version="1.0" encoding="utf-8"?>
<Media Key="931126ea-a950-4e88-957b-53f4254a437f" Alias="rental (30)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:58:31</CreateDate>
    <NodeName Default="rental (30)" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mxwfojjz/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>