<?xml version="1.0" encoding="utf-8"?>
<Media Key="a80610dc-0f8f-4a0e-ad11-077e055df3df" Alias="rental (33)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental33</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T15:01:29</CreateDate>
    <NodeName Default="rental (33)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kpneahxg/default-16.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>