<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f421eaf-448f-460f-8944-b7d769945e1c" Alias="rental (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/rental3</Path>
    <Trashed Parent="52afec7c-7184-440b-9998-059618b3e6cf">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T13:57:27</CreateDate>
    <NodeName Default="rental (3)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/edkaj0pg/galleryimages"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>