<?xml version="1.0" encoding="utf-8"?>
<Media Key="a060790a-2ea8-471a-844e-514f99a778f7" Alias="rental-3.jpg" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-05T17:11:05</CreateDate>
    <NodeName Default="rental-3.jpg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qwzdmfwb/rental-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>