<?xml version="1.0" encoding="utf-8"?>
<Media Key="73246b67-5a74-428e-9888-f84ba39df38c" Alias="rental-2.jpg" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-05T17:11:05</CreateDate>
    <NodeName Default="rental-2.jpg" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3cqhfri3/rental-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>