<?xml version="1.0" encoding="utf-8"?>
<Media Key="c26d8ff4-bd0e-43c0-957e-5294fdcfeee1" Alias="rental (35)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental35</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T15:05:31</CreateDate>
    <NodeName Default="rental (35)" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pncdw3dh/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>