<?xml version="1.0" encoding="utf-8"?>
<Media Key="52afec7c-7184-440b-9998-059618b3e6cf" Alias="rentals" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rentals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-05T13:46:12</CreateDate>
    <NodeName Default="rentals" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>