<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed4278b4-0ab1-46a1-9c9a-9a5434b1b17e" Alias="rental (32)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T15:01:29</CreateDate>
    <NodeName Default="rental (32)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hozaiw4y/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>