<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b85b0ca-7f0e-4369-8393-9576e7f365d9" Alias="rental" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:02:13</CreateDate>
    <NodeName Default="rental" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iv3mhxlh/default-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>