<?xml version="1.0" encoding="utf-8"?>
<Media Key="87f042e9-68e8-4d80-99a1-2535c2fc47d0" Alias="rental (42)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental42</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-13T11:13:35</CreateDate>
    <NodeName Default="rental (42)" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m0elmmmb/489635803_1070769938415982_4444772517864984397_n.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>