<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd6e7e07-2367-479f-bd14-5d639d881647" Alias="rental (41)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental41</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T15:13:26</CreateDate>
    <NodeName Default="rental (41)" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rc0cq0yo/default-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>