<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea8f8604-28f6-4ce0-81c9-711391b5d019" Alias="rental (11)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:37:23</CreateDate>
    <NodeName Default="rental (11)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rngmsxe5/default-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>