<?xml version="1.0" encoding="utf-8"?>
<Media Key="12469a58-9a41-47b8-803b-47b60ee3f23f" Alias="rental (13)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:37:24</CreateDate>
    <NodeName Default="rental (13)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/03iabjbi/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>