<?xml version="1.0" encoding="utf-8"?>
<Media Key="be376a0e-6f1d-4037-b58e-e898b6c6f367" Alias="rental (2)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:06:46</CreateDate>
    <NodeName Default="rental (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qgqhccdu/default-16.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>