<?xml version="1.0" encoding="utf-8"?>
<Media Key="277df3b8-4e1d-45d4-aeda-a68b7a39e75a" Alias="rental (17)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:46:26</CreateDate>
    <NodeName Default="rental (17)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g22dxelu/default-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>