<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8e6e423-86a8-4129-bc27-c3bdc912b3d5" Alias="rental (28)" Level="2">
  <Info>
    <Parent Key="52afec7c-7184-440b-9998-059618b3e6cf">rentals</Parent>
    <Path>/rentals/rental28</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T14:54:54</CreateDate>
    <NodeName Default="rental (28)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vqxkahwb/default-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>