<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe467562-1387-4f5b-bb3d-fd88ac9de08d" Alias="rental (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/rental1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T13:53:20</CreateDate>
    <NodeName Default="rental (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3w5basho/galleryimages"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>