<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a4a5bc7-41f5-40cb-9fd7-e0297cd96e53" Alias="About" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-03-30T13:51:01</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="e48086b6-4e16-4f00-976d-3bb5af6328a5">AboutPage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
  </Properties>
</Content>