<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a4a5bc7-41f5-40cb-9fd7-e0297cd96e53" Alias="About" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-03-30T13:51:01</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e48086b6-4e16-4f00-976d-3bb5af6328a5">AboutPage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "43a88da4-2612-4ca5-8153-fd3cd3d13f36",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f06f8a2a-d47b-4c99-ad8e-520d9b83eadf",
              "mediaKey": "3732951b-7a75-4c5f-87de-782205463ebe",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "43a88da4-2612-4ca5-8153-fd3cd3d13f36",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "43a88da4-2612-4ca5-8153-fd3cd3d13f36",
        "contentUdi": null,
        "rowSpan": 2,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyContent>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>