<?xml version="1.0" encoding="utf-8"?>
<Content Key="d63f4d64-dfae-49fb-810d-ad05208abf21" Alias="asdfa" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/asdfa</Path>
    <Trashed Parent="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">true</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-05-05T14:30:36</CreateDate>
    <NodeName Default="asdfa" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[admin@ex.com]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[fdsfds]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[umb://media/936ba54e23574131921794726461339d]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[3232]]></Value>
    </price>
    <title>
      <Value><![CDATA[asdfa]]></Value>
    </title>
  </Properties>
</Content>