<?xml version="1.0" encoding="utf-8"?>
<Content Key="df706ddd-7132-41f5-bd5c-214121e066dc" Alias="Authentication Page" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/AuthenticationPage</Path>
    <Trashed>false</Trashed>
    <ContentType>authenticationPage</ContentType>
    <CreateDate>2025-04-08T09:31:36</CreateDate>
    <NodeName Default="Authentication Page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5b012879-bdf3-4668-9c30-05b8e0fe9588">AuthenticationPage</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>