<?xml version="1.0" encoding="utf-8"?>
<Content Key="021c0752-2a5f-409c-9edf-4b6ab423fbdd" Alias="dfgds" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/dfgds</Path>
    <Trashed Parent="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">true</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-05-05T13:55:50</CreateDate>
    <NodeName Default="dfgds" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[admin@ex.com]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[sdfg]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[System.Collections.Generic.List`1[Microsoft.AspNetCore.Http.IFormFile]]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[4]]></Value>
    </price>
    <title>
      <Value><![CDATA[dfgds]]></Value>
    </title>
  </Properties>
</Content>