<?xml version="1.0" encoding="utf-8"?>
<Content Key="55b29f3c-c9f6-41ff-a09a-a6fc5cf521e0" Alias="dfgdfg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/dfgdfg</Path>
    <Trashed Parent="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">true</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-05-05T15:01:31</CreateDate>
    <NodeName Default="dfgdfg" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[admin@ex.com]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[dfgdfgdf]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[umb://media/ed4278b40ab146a19c9a9a5434b1b17e,umb://media/a80610dc0f8f4a0ead11077e055df3df,umb://media/b893a166c71d44c09b323278670b0f33]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[45654]]></Value>
    </price>
    <title>
      <Value><![CDATA[dfgdfg]]></Value>
    </title>
  </Properties>
</Content>