<?xml version="1.0" encoding="utf-8"?>
<Content Key="a689c11b-be99-4376-9438-533cc788b3c0" Alias="gdfgdgd" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/gdfgdgd</Path>
    <Trashed Parent="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">true</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-05-05T15:13:27</CreateDate>
    <NodeName Default="gdfgdgd" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[admin@ex.com]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[dfgdfgd]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[umb://media/dd6e7e072367479fbd145d639d881647]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[34535]]></Value>
    </price>
    <title>
      <Value><![CDATA[gdfgdgd]]></Value>
    </title>
  </Properties>
</Content>