<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d295e58-921f-482c-912d-8b7479e251fb" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-29T16:15:54</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da82bc41-58e0-4233-a951-0054d2872393">HomePage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "aed4224c-5be0-4b60-8304-0bfe958ce137",
      "key": "bf2c411e-c7df-4f77-b910-210aba8e456b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "2ba1d72d-5c3f-42db-8fb5-06a1f7631500",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "33c27cdf-b17f-425b-8513-db3fc1ba5b17",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "b023fc9e-2567-4af3-854b-39bf83beb441",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "de14eb27-7995-4e56-9951-f5c9b20d61ae",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "e6bc59b5-4096-4eff-b6f9-20319e3defc6",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f100593e-b5bd-4278-87fd-5ef57471e56f",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "1a4a010b-6da7-47ea-a535-038e499604e0",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e95c1aad-ee1c-430a-af18-30df02364379",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "95a9fb65-f1b3-4f35-8e42-5a687c97a011",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d3649904-7209-475a-b003-2a2d66c8ee84",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "7ce777d0-9407-4d0e-92dd-f8646e3c7bf4",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c8cab63b-01b7-41ca-823e-a766144174e4",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d062444d-0536-4214-9a60-f0c13c737b0f",
      "key": "b2eb2fad-8c3d-4a64-81ef-b1b9d5b3e0f3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "849c4d5b-d482-4758-8f0b-9cc2ad69ec87",
      "key": "f02e3a0b-e990-4abc-b7fc-a929de997cf6",
      "udi": null,
      "values": [
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Learn More \u003E",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our app simplifies the booking process, making it quick and hassle-free."
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Find Your Perfect Property with Just a Few Clicks"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ac270c9e-2a88-471f-b79d-30b6622bea83",
              "mediaKey": "2eedb40a-16d4-42f7-aaa8-9edf2e1967a0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "849c4d5b-d482-4758-8f0b-9cc2ad69ec87",
      "key": "21bae223-e813-44f1-82c7-c5a460a102ba",
      "udi": null,
      "values": [
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sign Up \u003E",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Choose from a wide variety of listings, from cozy apartments to luxury homes."
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore a Diverse Selection of Properties Tailored to Your Needs"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0ae384be-1111-4840-bddb-8c07f69b75bc",
              "mediaKey": "2eedb40a-16d4-42f7-aaa8-9edf2e1967a0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "849c4d5b-d482-4758-8f0b-9cc2ad69ec87",
      "key": "0e2082ed-746c-4df8-9a79-31ce1bd8d06d",
      "udi": null,
      "values": [
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explore \u003E",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We offer affordable options without compromising on quality or comfort."
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enjoy Competitive Prices That Fit Your Budget"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e3517946-f540-44cf-8203-5ccbde6e7a23",
              "mediaKey": "2eedb40a-16d4-42f7-aaa8-9edf2e1967a0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "83d96e8f-1bc3-4377-9fa6-7f8f70cc38e1",
      "key": "41ae7a2b-d651-4e1f-95fb-86a23bc823e3",
      "udi": null,
      "values": [
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore a wide range of rental properties that fit your lifestyle and budget. Your dream home is just a click away!"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Discover Your Perfect Rental Property Today"
        },
        {
          "alias": "primaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explore",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "secondaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sign Up",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "83d96e8f-1bc3-4377-9fa6-7f8f70cc38e1",
      "key": "dfd675bc-3e2c-46d3-861d-515ef35a0e26",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Discover Your Perfect Rental Property Today"
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore a wide range of rental properties that fit your lifestyle and budget. Your dream home is just a click away!"
        },
        {
          "alias": "primaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explore",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "secondaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sign Up",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "849c4d5b-d482-4758-8f0b-9cc2ad69ec87",
      "key": "63f77bff-5322-4d5a-be0a-e58735ec0840",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Find Your Perfect Property with Just a Few Clicks"
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our app simplifies the booking process, making it quick and hassle-free."
        },
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Learn More \u003E",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ac270c9e-2a88-471f-b79d-30b6622bea83",
              "mediaKey": "2eedb40a-16d4-42f7-aaa8-9edf2e1967a0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "aed4224c-5be0-4b60-8304-0bfe958ce137",
      "key": "336efbb4-1875-40df-87dc-a2e33e65a451",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "b27ee4ee-6f72-4be0-9c0f-e33a09686d92",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "33c27cdf-b17f-425b-8513-db3fc1ba5b17",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "ab50d2cc-8174-4f0d-8013-176c9c6b53fa",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f100593e-b5bd-4278-87fd-5ef57471e56f",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "09174bc6-03c9-45b9-96a8-fdf225cc317d",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d3649904-7209-475a-b003-2a2d66c8ee84",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "729b12da-de0f-4905-9ceb-00b42674218b",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "de14eb27-7995-4e56-9951-f5c9b20d61ae",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "a484d242-8eb2-4cee-90d6-6650a9dbae49",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e95c1aad-ee1c-430a-af18-30df02364379",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "fbe0f815-0fbd-43a9-8d1c-ed3276831cd8",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c8cab63b-01b7-41ca-823e-a766144174e4",
              "mediaKey": "45dd3160-1cb2-41e0-a17f-0aa367a0e79e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "849c4d5b-d482-4758-8f0b-9cc2ad69ec87",
      "key": "85a98a93-5d0e-4102-8488-b8cf048251b3",
      "udi": null,
      "values": [
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Learn More \u003E",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our app simplifies the booking process, making it quick and hassle-free."
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Find Your Perfect Property with Just a Few Clicks"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ac270c9e-2a88-471f-b79d-30b6622bea83",
              "mediaKey": "2eedb40a-16d4-42f7-aaa8-9edf2e1967a0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "83d96e8f-1bc3-4377-9fa6-7f8f70cc38e1",
      "key": "28d8abff-0ef2-4760-9478-8cf1675673e4",
      "udi": null,
      "values": [
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore a wide range of rental properties that fit your lifestyle and budget. Your dream home is just a click away!"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Discover Your Perfect Rental Property Today"
        },
        {
          "alias": "primaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explore",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "secondaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sign Up",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f1269131-6970-4157-9133-765d75842076",
      "key": "efbe8827-3a2b-43f1-9a5b-11c4d32ea18e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "19548a31-fca8-477d-b26c-eb2b5169a149",
      "key": "9635d71a-6ab5-4304-9aaf-4e8ca0f43693",
      "udi": null,
      "values": [
        {
          "alias": "lightModeAccentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Tall Poppy",
            "value": "#B42D2D"
          }
        },
        {
          "alias": "darkModeTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "darkModeBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Alpine",
            "value": "#ADAD2D"
          }
        },
        {
          "alias": "lightModeTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "lightModeBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Alpine",
            "value": "#ADAD2D"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d3a62b40-7a08-4ecc-9ad9-61cb1dbe82eb",
      "key": "cf9d7c92-0d78-4589-94b6-9916c971144d",
      "udi": null,
      "values": [
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "alignItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        },
        {
          "alias": "containerJustifyContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        },
        {
          "alias": "containerAlignItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        },
        {
          "alias": "containerMarginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerMarginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerMarginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerMarginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerPaddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerPaddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerPaddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerPaddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "5523df01-27bf-4c7c-9144-beb87118440f",
      "key": "d9c4b46b-ed2e-435d-b6c2-1b4093dafa87",
      "udi": null,
      "values": [
        {
          "alias": "marginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "marginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "marginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "alignItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "5523df01-27bf-4c7c-9144-beb87118440f",
      "key": "e2c0e2df-2703-4baa-a525-bdd834e33a8d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "5523df01-27bf-4c7c-9144-beb87118440f",
      "key": "da2b26c6-2e23-4709-bebf-3e1745ada436",
      "udi": null,
      "values": [
        {
          "alias": "alignItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "End"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d3a62b40-7a08-4ecc-9ad9-61cb1dbe82eb",
      "key": "f195b418-1aef-4c95-86f2-6ac438e1ceb4",
      "udi": null,
      "values": [
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "5523df01-27bf-4c7c-9144-beb87118440f",
      "key": "062397e8-9a9d-4a08-b290-4c524b2959c2",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f1269131-6970-4157-9133-765d75842076",
      "key": "284bfe1c-6b2c-4a09-9b8f-ad5c3b715e81",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "5523df01-27bf-4c7c-9144-beb87118440f",
      "key": "4a8865a0-eb01-4915-a04c-d1f16efcc6a0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d3a62b40-7a08-4ecc-9ad9-61cb1dbe82eb",
      "key": "aa2f866e-b4c8-479c-b90a-e47b2be71365",
      "udi": null,
      "values": [
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "alignItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        },
        {
          "alias": "containerJustifyContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "caa7fe73-a679-467c-8fc3-bbf4a04f2f72",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0cb37078-fd8d-4082-9df2-4666c169f419",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f9de8200-8976-4a44-a8f1-b27d0356ec83",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d723059f-d89b-4a5d-96b7-523ae27c9db8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "405e87fd-df95-4c00-8ca6-01f2970b48d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "404aa820-0406-445c-89bf-7a66ec471da6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f8fe5542-580d-4a9c-933c-7690666ad60b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "957d3eb5-4a6f-4892-96f4-139ca4899f62",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fbca9aec-e212-4650-9ce9-4526bf12c857",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0f433a7e-0f38-4aaf-ba0d-6a6e51276f5e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "99b08240-163f-44aa-a57c-82bcd4384da9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0c93a575-8dc9-497f-8466-793166be7ab6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a0ba3f36-1e47-45dd-aede-5dfed6f7599f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff37e8d9-5cd9-4d57-b360-bed38ff1d3bd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f535dc0f-4d69-46f6-92ec-8f3701a9b2e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5afb1341-66bf-4c06-9dd2-3272bc4df7fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0b7a8958-86f8-4b91-9e06-ed8d57efa21a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2cef4f84-c959-4045-ab34-4ec06febe2cd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aedc031a-e669-47ad-a200-aa45d9651e48",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0347a381-499f-41b9-a05e-906faee70b81",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff9c5828-930a-4bdd-8346-75260cc73665",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bf2c411e-c7df-4f77-b910-210aba8e456b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2ba1d72d-5c3f-42db-8fb5-06a1f7631500",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b023fc9e-2567-4af3-854b-39bf83beb441",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e6bc59b5-4096-4eff-b6f9-20319e3defc6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a4a010b-6da7-47ea-a535-038e499604e0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "95a9fb65-f1b3-4f35-8e42-5a687c97a011",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7ce777d0-9407-4d0e-92dd-f8646e3c7bf4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b2eb2fad-8c3d-4a64-81ef-b1b9d5b3e0f3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f02e3a0b-e990-4abc-b7fc-a929de997cf6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "21bae223-e813-44f1-82c7-c5a460a102ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0e2082ed-746c-4df8-9a79-31ce1bd8d06d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "41ae7a2b-d651-4e1f-95fb-86a23bc823e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dfd675bc-3e2c-46d3-861d-515ef35a0e26",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "63f77bff-5322-4d5a-be0a-e58735ec0840",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "336efbb4-1875-40df-87dc-a2e33e65a451",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b27ee4ee-6f72-4be0-9c0f-e33a09686d92",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ab50d2cc-8174-4f0d-8013-176c9c6b53fa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "09174bc6-03c9-45b9-96a8-fdf225cc317d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "729b12da-de0f-4905-9ceb-00b42674218b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a484d242-8eb2-4cee-90d6-6650a9dbae49",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fbe0f815-0fbd-43a9-8d1c-ed3276831cd8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "85a98a93-5d0e-4102-8488-b8cf048251b3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "28d8abff-0ef2-4760-9478-8cf1675673e4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "41ae7a2b-d651-4e1f-95fb-86a23bc823e3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "cf9d7c92-0d78-4589-94b6-9916c971144d",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "2ba1d72d-5c3f-42db-8fb5-06a1f7631500",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "2a891dc4-0573-4269-bced-7c18b9519e96"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "e6bc59b5-4096-4eff-b6f9-20319e3defc6",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "64267d86-c063-44a7-8a85-c4ec84720c3e"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "95a9fb65-f1b3-4f35-8e42-5a687c97a011",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "05e038a2-ab52-4853-a237-38f58c70744f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "b023fc9e-2567-4af3-854b-39bf83beb441",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "25d44745-1f47-41c9-92d0-5d7f370a2a9c"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "1a4a010b-6da7-47ea-a535-038e499604e0",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "5c6df21a-7506-4730-b062-6488bc7e5caa"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "7ce777d0-9407-4d0e-92dd-f8646e3c7bf4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "df1cf230-3e07-4e8a-8280-dc220fbe1761"
          }
        ],
        "columnSpan": 6,
        "contentKey": "bf2c411e-c7df-4f77-b910-210aba8e456b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "efbe8827-3a2b-43f1-9a5b-11c4d32ea18e",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "28d8abff-0ef2-4760-9478-8cf1675673e4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "aa2f866e-b4c8-479c-b90a-e47b2be71365",
                "settingsUdi": null
              }
            ],
            "key": "b2ec1ee6-1758-45ac-b895-764f5d6d469f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "f02e3a0b-e990-4abc-b7fc-a929de997cf6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d9c4b46b-ed2e-435d-b6c2-1b4093dafa87",
                "settingsUdi": null
              }
            ],
            "key": "d796b68f-6618-4b18-b8b3-0ba57dcd5a80"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "21bae223-e813-44f1-82c7-c5a460a102ba",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e2c0e2df-2703-4baa-a525-bdd834e33a8d",
                "settingsUdi": null
              }
            ],
            "key": "6e1b81c6-dd4e-44f6-9964-3353a17e35fa"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "0e2082ed-746c-4df8-9a79-31ce1bd8d06d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "da2b26c6-2e23-4709-bebf-3e1745ada436",
                "settingsUdi": null
              }
            ],
            "key": "922bf2a1-c627-4fbd-9159-3fb6c119f321"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b2eb2fad-8c3d-4a64-81ef-b1b9d5b3e0f3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9635d71a-6ab5-4304-9aaf-4e8ca0f43693",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "dfd675bc-3e2c-46d3-861d-515ef35a0e26",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f195b418-1aef-4c95-86f2-6ac438e1ceb4",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "63f77bff-5322-4d5a-be0a-e58735ec0840",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "062397e8-9a9d-4a08-b290-4c524b2959c2",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "b27ee4ee-6f72-4be0-9c0f-e33a09686d92",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "2a891dc4-0573-4269-bced-7c18b9519e96"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "ab50d2cc-8174-4f0d-8013-176c9c6b53fa",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "64267d86-c063-44a7-8a85-c4ec84720c3e"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "09174bc6-03c9-45b9-96a8-fdf225cc317d",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "05e038a2-ab52-4853-a237-38f58c70744f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "729b12da-de0f-4905-9ceb-00b42674218b",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "25d44745-1f47-41c9-92d0-5d7f370a2a9c"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "a484d242-8eb2-4cee-90d6-6650a9dbae49",
                "contentUdi": null,
                "rowSpan": 2,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "5c6df21a-7506-4730-b062-6488bc7e5caa"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "contentKey": "fbe0f815-0fbd-43a9-8d1c-ed3276831cd8",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "df1cf230-3e07-4e8a-8280-dc220fbe1761"
          }
        ],
        "columnSpan": 6,
        "contentKey": "336efbb4-1875-40df-87dc-a2e33e65a451",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "284bfe1c-6b2c-4a09-9b8f-ad5c3b715e81",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "85a98a93-5d0e-4102-8488-b8cf048251b3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "4a8865a0-eb01-4915-a04c-d1f16efcc6a0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyContent>
  </Properties>
</Content>