<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d295e58-921f-482c-912d-8b7479e251fb" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-29T16:15:54</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da82bc41-58e0-4233-a951-0054d2872393">HomePage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d510034d-9173-4a12-be84-37853e873876",
      "key": "ca8244b7-14ca-44ec-abe2-fc7471e3ca10",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "83d96e8f-1bc3-4377-9fa6-7f8f70cc38e1",
      "key": "caa7fe73-a679-467c-8fc3-bbf4a04f2f72",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Discover Your Perfect Rental Property Today"
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore a wide range of rental properties that fit your lifestyle and budget. Your dream home is just a click away!"
        },
        {
          "alias": "primaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explore",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "secondaryButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sign Up",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "aed4224c-5be0-4b60-8304-0bfe958ce137",
      "key": "957d3eb5-4a6f-4892-96f4-139ca4899f62",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "fbca9aec-e212-4650-9ce9-4526bf12c857",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8fd99ea8-3674-48df-a01a-2559bb050c7c",
              "mediaKey": "72f6cfd4-59fd-4d1f-b72f-16d14f048a9e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "0f433a7e-0f38-4aaf-ba0d-6a6e51276f5e",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3ebdc173-adc7-44f8-9098-bc46cede150e",
              "mediaKey": "72f6cfd4-59fd-4d1f-b72f-16d14f048a9e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "99b08240-163f-44aa-a57c-82bcd4384da9",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dac63c86-d199-45f9-a022-b92d92d9c9e9",
              "mediaKey": "72f6cfd4-59fd-4d1f-b72f-16d14f048a9e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "0c93a575-8dc9-497f-8466-793166be7ab6",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7ef83c12-5886-40e2-92aa-7f9bb67a32f6",
              "mediaKey": "72f6cfd4-59fd-4d1f-b72f-16d14f048a9e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "a0ba3f36-1e47-45dd-aede-5dfed6f7599f",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "31172144-8c52-47f4-b19f-b233a5dc8e72",
              "mediaKey": "72f6cfd4-59fd-4d1f-b72f-16d14f048a9e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "key": "ff37e8d9-5cd9-4d57-b360-bed38ff1d3bd",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "59fbdbff-149c-4e05-a339-9718156d590b",
              "mediaKey": "72f6cfd4-59fd-4d1f-b72f-16d14f048a9e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f1269131-6970-4157-9133-765d75842076",
      "key": "4f8b1a5d-7bc1-413e-a086-3173ca1c13a1",
      "udi": null,
      "values": [
        {
          "alias": "lightModeBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Lightest",
            "value": "#F2F2F2"
          }
        },
        {
          "alias": "lightModeTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "lightModeAccentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Tall Poppy",
            "value": "#B42D2D"
          }
        },
        {
          "alias": "darkModeTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Lightest",
            "value": "#F2F2F2"
          }
        },
        {
          "alias": "darkModeBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "darkModeAccentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Tall Poppy",
            "value": "#B42D2D"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f1269131-6970-4157-9133-765d75842076",
      "key": "bb723822-f806-43be-93e7-9ab06e849fbe",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "ca8244b7-14ca-44ec-abe2-fc7471e3ca10",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "caa7fe73-a679-467c-8fc3-bbf4a04f2f72",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0cb37078-fd8d-4082-9df2-4666c169f419",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f9de8200-8976-4a44-a8f1-b27d0356ec83",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d723059f-d89b-4a5d-96b7-523ae27c9db8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "405e87fd-df95-4c00-8ca6-01f2970b48d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "404aa820-0406-445c-89bf-7a66ec471da6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f8fe5542-580d-4a9c-933c-7690666ad60b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "957d3eb5-4a6f-4892-96f4-139ca4899f62",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fbca9aec-e212-4650-9ce9-4526bf12c857",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0f433a7e-0f38-4aaf-ba0d-6a6e51276f5e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "99b08240-163f-44aa-a57c-82bcd4384da9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0c93a575-8dc9-497f-8466-793166be7ab6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a0ba3f36-1e47-45dd-aede-5dfed6f7599f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff37e8d9-5cd9-4d57-b360-bed38ff1d3bd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "caa7fe73-a679-467c-8fc3-bbf4a04f2f72",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "6050bca6-ab7c-4cfd-aed2-06b714383f06"
          },
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 1,
                        "contentKey": "fbca9aec-e212-4650-9ce9-4526bf12c857",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "2a891dc4-0573-4269-bced-7c18b9519e96"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 1,
                        "contentKey": "0f433a7e-0f38-4aaf-ba0d-6a6e51276f5e",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "64267d86-c063-44a7-8a85-c4ec84720c3e"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 1,
                        "contentKey": "99b08240-163f-44aa-a57c-82bcd4384da9",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "05e038a2-ab52-4853-a237-38f58c70744f"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 1,
                        "contentKey": "0c93a575-8dc9-497f-8466-793166be7ab6",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "25d44745-1f47-41c9-92d0-5d7f370a2a9c"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 1,
                        "contentKey": "a0ba3f36-1e47-45dd-aede-5dfed6f7599f",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "5c6df21a-7506-4730-b062-6488bc7e5caa"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 1,
                        "contentKey": "ff37e8d9-5cd9-4d57-b360-bed38ff1d3bd",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "df1cf230-3e07-4e8a-8280-dc220fbe1761"
                  }
                ],
                "columnSpan": 6,
                "contentKey": "957d3eb5-4a6f-4892-96f4-139ca4899f62",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bb723822-f806-43be-93e7-9ab06e849fbe",
                "settingsUdi": null
              }
            ],
            "key": "c72b2ff9-b7b9-4ad5-a7d2-08603478f686"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ca8244b7-14ca-44ec-abe2-fc7471e3ca10",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "4f8b1a5d-7bc1-413e-a086-3173ca1c13a1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyContent>
  </Properties>
</Content>