<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d295e58-921f-482c-912d-8b7479e251fb" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-29T16:15:54</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da82bc41-58e0-4233-a951-0054d2872393">HomePage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d510034d-9173-4a12-be84-37853e873876",
      "key": "f2529355-a718-4509-a663-843159844eab",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4ce5054a-9662-4aa1-ba06-107cfeb7c7c2",
      "key": "d150779c-cea4-41a6-bdb1-757fa0527c93",
      "udi": null,
      "values": [
        {
          "alias": "twPaddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "twPaddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "twDarkModePresetAccentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Tall Poppy Light",
            "value": "#CA6C6C"
          }
        },
        {
          "alias": "twDarkModePresetTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "twDarkModePresetBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Alpine Darker",
            "value": "#454512"
          }
        },
        {
          "alias": "darkModeBackground",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "twLightModePresetAccentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Tall Poppy",
            "value": "#B42D2D"
          }
        },
        {
          "alias": "twLightModePresetTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "twLightModePresetBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Alpine Lightest",
            "value": "#F6F6EA"
          }
        },
        {
          "alias": "twPaddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "twPaddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "twMarginRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "twMarginLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "twMarginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "twMarginBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "twLayoutGap",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f2529355-a718-4509-a663-843159844eab",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "6050bca6-ab7c-4cfd-aed2-06b714383f06"
          },
          {
            "items": [],
            "key": "c72b2ff9-b7b9-4ad5-a7d2-08603478f686"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f2529355-a718-4509-a663-843159844eab",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d150779c-cea4-41a6-bdb1-757fa0527c93",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyContent>
  </Properties>
</Content>