<?xml version="1.0" encoding="utf-8"?>
<Content Key="aded5e24-748c-4c93-9fb2-9662d3a4af8d" Alias="qwert" Level="3">
  <Info>
    <Parent Key="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">Rentals</Parent>
    <Path>/Home/Rentals/qwert</Path>
    <Trashed>false</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-04-10T16:11:18</CreateDate>
    <NodeName Default="qwert" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[{
  "markup": "tttttttttt",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[32]]></Value>
    </price>
    <title>
      <Value><![CDATA[qwert]]></Value>
    </title>
  </Properties>
</Content>