<?xml version="1.0" encoding="utf-8"?>
<Content Key="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf" Alias="Rentals" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/Rentals</Path>
    <Trashed>false</Trashed>
    <ContentType>rentalsPage</ContentType>
    <CreateDate>2025-04-09T23:00:41</CreateDate>
    <NodeName Default="Rentals" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="07e12de9-e400-4f53-8410-dd81ca441366">RentalsPage</Template>
  </Info>
  <Properties>
    <cannonicalUrl>
      <Value><![CDATA[]]></Value>
    </cannonicalUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>