<?xml version="1.0" encoding="utf-8"?>
<Content Key="d46d7cc1-dcb5-44e9-b553-7da5e9a273a8" Alias="Rental House" Level="3">
  <Info>
    <Parent Key="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">Rentals</Parent>
    <Path>/Home/Rentals/RentalHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-10-05T17:11:41</CreateDate>
    <NodeName Default="Rental House" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EA very big and nice house\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[[
  {
    "key": "786cd181-7f45-42a1-b952-49e0448ca99e",
    "mediaKey": "ef3976e3-1413-43ca-991c-5b7813c2d050",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "76e6f7be-2535-4238-a30a-04f900247437",
    "mediaKey": "a060790a-2ea8-471a-844e-514f99a778f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9a9fe66d-8cc3-45c8-96d0-1333c6b009be",
    "mediaKey": "73246b67-5a74-428e-9888-f84ba39df38c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "41cd6b17-c2d0-4a6f-a109-5ded52722924",
    "mediaKey": "36f617e4-e07e-47c0-a06d-4078ba69a7ee",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8a4b7dfd-bd65-45f9-af9b-261f1194ae16",
    "mediaKey": "11e84c59-ace9-483e-9807-bf4a1894be73",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[150000]]></Value>
    </price>
    <title>
      <Value><![CDATA[House]]></Value>
    </title>
  </Properties>
</Content>