<?xml version="1.0" encoding="utf-8"?>
<Content Key="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf" Alias="Rentals" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/Rentals</Path>
    <Trashed>false</Trashed>
    <ContentType>rentalsPage</ContentType>
    <CreateDate>2025-04-09T23:00:41</CreateDate>
    <NodeName Default="Rentals" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07e12de9-e400-4f53-8410-dd81ca441366">RentalsPage</Template>
  </Info>
  <Properties>
    <cannonicalUrl>
      <Value><![CDATA[]]></Value>
    </cannonicalUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rentalsListing>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8d14e783-8ca0-46b8-8504-af0f5df96764",
      "key": "124a9958-ad17-4a4b-b788-c1969313b0de",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testing"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EThis is a test\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "150"
        },
        {
          "alias": "gallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2ec168ce-b254-4459-8e40-2ec544bf9f9a",
              "mediaKey": "6a81621b-1d15-475d-9336-13072670d3ea",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "124a9958-ad17-4a4b-b788-c1969313b0de",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "124a9958-ad17-4a4b-b788-c1969313b0de",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </rentalsListing>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>