<?xml version="1.0" encoding="utf-8"?>
<Content Key="df706ddd-7132-41f5-bd5c-214121e066dc" Alias="Sign In" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/SignIn</Path>
    <Trashed>false</Trashed>
    <ContentType>signInPage</ContentType>
    <CreateDate>2025-04-08T09:31:36</CreateDate>
    <NodeName Default="Sign In" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b9f8e82-6bab-4bd9-8e2a-9395ec830379">signInPage</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>