<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa4d9c58-340a-4dfd-a2f1-5a4b1217e589" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-03-30T13:32:49</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <darkModeAccent>
      <Value><![CDATA[]]></Value>
    </darkModeAccent>
    <darkModeBackground>
      <Value><![CDATA[0]]></Value>
    </darkModeBackground>
    <darkModeText>
      <Value><![CDATA[]]></Value>
    </darkModeText>
    <lightModeAccent>
      <Value><![CDATA[]]></Value>
    </lightModeAccent>
    <lightModeBackground>
      <Value><![CDATA[0]]></Value>
    </lightModeBackground>
    <lightModeText>
      <Value><![CDATA[]]></Value>
    </lightModeText>
    <metaDescription>
      <Value><![CDATA[Something]]></Value>
    </metaDescription>
    <redirectType>
      <Value><![CDATA[]]></Value>
    </redirectType>
    <redirectUrl>
      <Value><![CDATA[]]></Value>
    </redirectUrl>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[DevingTone]]></Value>
    </siteName>
    <twDarkModeCustomAccentColor>
      <Value><![CDATA[]]></Value>
    </twDarkModeCustomAccentColor>
    <twDarkModeCustomBackgroundColor>
      <Value><![CDATA[#cb7e7eeb]]></Value>
    </twDarkModeCustomBackgroundColor>
    <twDarkModeCustomTextColor>
      <Value><![CDATA[]]></Value>
    </twDarkModeCustomTextColor>
    <twDarkModePresetAccentColor>
      <Value><![CDATA[{
  "label": "Tall Poppy",
  "value": "#B42D2D"
}]]></Value>
    </twDarkModePresetAccentColor>
    <twDarkModePresetBackgroundColor>
      <Value><![CDATA[{
  "label": "Neutral Darker",
  "value": "#191919"
}]]></Value>
    </twDarkModePresetBackgroundColor>
    <twDarkModePresetTextColor>
      <Value><![CDATA[{
  "label": "Neutral Lightest",
  "value": "#F2F2F2"
}]]></Value>
    </twDarkModePresetTextColor>
    <twLightModeCustomAccentColor>
      <Value><![CDATA[]]></Value>
    </twLightModeCustomAccentColor>
    <twLightModeCustomBackgroundColor>
      <Value><![CDATA[#0936c8e6]]></Value>
    </twLightModeCustomBackgroundColor>
    <twLightModeCustomTextColor>
      <Value><![CDATA[]]></Value>
    </twLightModeCustomTextColor>
    <twLightModePresetAccentColor>
      <Value><![CDATA[]]></Value>
    </twLightModePresetAccentColor>
    <twLightModePresetBackgroundColor>
      <Value><![CDATA[{
  "label": "Alpine Lightest",
  "value": "#F6F6EA"
}]]></Value>
    </twLightModePresetBackgroundColor>
    <twLightModePresetTextColor>
      <Value><![CDATA[{
  "label": "Neutral Darkest",
  "value": "#000000"
}]]></Value>
    </twLightModePresetTextColor>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>