<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa4d9c58-340a-4dfd-a2f1-5a4b1217e589" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-03-30T13:32:49</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <darkModeAccent>
      <Value><![CDATA[]]></Value>
    </darkModeAccent>
    <darkModeAccentColor>
      <Value><![CDATA[{
  "label": "Tall Poppy",
  "value": "#B42D2D"
}]]></Value>
    </darkModeAccentColor>
    <darkModeBackground>
      <Value><![CDATA[]]></Value>
    </darkModeBackground>
    <darkModeBackgroundColor>
      <Value><![CDATA[{
  "label": "Neutral Darker",
  "value": "#191919"
}]]></Value>
    </darkModeBackgroundColor>
    <darkModeCustomAccentColor>
      <Value><![CDATA[]]></Value>
    </darkModeCustomAccentColor>
    <darkModeCustomBackgroundColor>
      <Value><![CDATA[]]></Value>
    </darkModeCustomBackgroundColor>
    <darkModeCustomTextColor>
      <Value><![CDATA[]]></Value>
    </darkModeCustomTextColor>
    <darkModePresetAccentColor>
      <Value><![CDATA[]]></Value>
    </darkModePresetAccentColor>
    <darkModePresetBackgroundColor>
      <Value><![CDATA[]]></Value>
    </darkModePresetBackgroundColor>
    <darkModePresetTextColor>
      <Value><![CDATA[]]></Value>
    </darkModePresetTextColor>
    <darkModeText>
      <Value><![CDATA[]]></Value>
    </darkModeText>
    <darkModeTextColor>
      <Value><![CDATA[{
  "label": "Neutral Lightest",
  "value": "#F2F2F2"
}]]></Value>
    </darkModeTextColor>
    <lightModeAccent>
      <Value><![CDATA[]]></Value>
    </lightModeAccent>
    <lightModeAccentColor>
      <Value><![CDATA[{
  "label": "Tall Poppy",
  "value": "#B42D2D"
}]]></Value>
    </lightModeAccentColor>
    <lightModeBackground>
      <Value><![CDATA[]]></Value>
    </lightModeBackground>
    <lightModeBackgroundColor>
      <Value><![CDATA[{
  "label": "Alpine Lighter",
  "value": "#EEEED5"
}]]></Value>
    </lightModeBackgroundColor>
    <lightModeCustomAccentColor>
      <Value><![CDATA[]]></Value>
    </lightModeCustomAccentColor>
    <lightModeCustomBackgroundColor>
      <Value><![CDATA[]]></Value>
    </lightModeCustomBackgroundColor>
    <lightModeCustomTextColor>
      <Value><![CDATA[]]></Value>
    </lightModeCustomTextColor>
    <lightModePresetAccentColor>
      <Value><![CDATA[]]></Value>
    </lightModePresetAccentColor>
    <lightModePresetBackgroundColor>
      <Value><![CDATA[]]></Value>
    </lightModePresetBackgroundColor>
    <lightModePresetTextColor>
      <Value><![CDATA[]]></Value>
    </lightModePresetTextColor>
    <lightModeText>
      <Value><![CDATA[]]></Value>
    </lightModeText>
    <lightModeTextColor>
      <Value><![CDATA[{
  "label": "Neutral Darkest",
  "value": "#000000"
}]]></Value>
    </lightModeTextColor>
    <metaDescription>
      <Value><![CDATA[Something]]></Value>
    </metaDescription>
    <redirectType>
      <Value><![CDATA[]]></Value>
    </redirectType>
    <redirectUrl>
      <Value><![CDATA[]]></Value>
    </redirectUrl>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[DevingTone]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>