<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa4d9c58-340a-4dfd-a2f1-5a4b1217e589" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="8d295e58-921f-482c-912d-8b7479e251fb">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-03-30T13:32:49</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <darkModeAccent>
      <Value><![CDATA[]]></Value>
    </darkModeAccent>
    <darkModeBackground>
      <Value><![CDATA[0]]></Value>
    </darkModeBackground>
    <darkModeText>
      <Value><![CDATA[]]></Value>
    </darkModeText>
    <footerContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d510034d-9173-4a12-be84-37853e873876",
      "key": "076e8ea0-1398-44f8-be8e-02eb3f41159f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "97cfe336-eb85-41ea-b28f-4b77d6b4a0ea",
      "key": "2b8530db-6b5a-49ab-acea-004e850655b3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b284e1ea-e9b7-42b6-9a74-a445a3e04081",
      "key": "07472228-8b74-47dd-8a7d-3782b73202e8",
      "udi": null,
      "values": [
        {
          "alias": "aknowledgeText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "By subscribing, you consent to our Privacy Policy and receiving updates."
        },
        {
          "alias": "button",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Join",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "input",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Your Email Here",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ESubscribe to our newsletter for the latest features and updates.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?width=186\u0026amp;height=112\u0026amp;mode=Max\u0022 alt=\u0022logo.jpg\u0022 width=\u0022186\u0022 height=\u0022112\u0022 data-udi=\u0022umb://media/5565cbc7fda744e58c882f57447613ee\u0022\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "a5f9918c-4683-49af-a315-09e38be66ae0",
      "key": "3d8c28d4-f484-44bf-b3c3-88d66c316280",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "3a9512c2-3800-4808-907b-ab512f6eb28c",
      "key": "e305de9a-318f-457f-b9ba-6f797e3aba57",
      "udi": null,
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f9b185a1-2f17-45ad-8436-39639a7b1702",
                "key": "4a4b98cd-5870-4c36-8d0d-15ad57378182",
                "udi": null,
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "db2503f4-7379-4453-9813-723406be84a0",
                        "mediaKey": "23cacecf-b35a-4350-b511-6f2a9664b8d9",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "YouTube",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://www.youtube.com/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f9b185a1-2f17-45ad-8436-39639a7b1702",
                "key": "b620aaff-cdda-4067-986b-b44036e82f89",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Instagram",
                        "target": "_blank",
                        "udi": null,
                        "url": "www.instragram.com",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3e36f317-e466-4c42-8947-41e6b2ea619a",
                        "mediaKey": "1f5817c0-519e-4fa2-a861-dceb1eb38959",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f9b185a1-2f17-45ad-8436-39639a7b1702",
                "key": "7abb60cc-81e6-4ab0-b476-d6ba73e69dbf",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "X",
                        "target": null,
                        "udi": null,
                        "url": "www.x.com",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "95db12ea-5cba-4dab-8e83-94cf1a9dbbe6",
                        "mediaKey": "94f2e6a4-9f66-4c37-b697-0b6371d011d9",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f9b185a1-2f17-45ad-8436-39639a7b1702",
                "key": "45a24c9c-633a-4c19-bb09-f2a1a63f0467",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Facebook",
                        "target": "_blank",
                        "udi": null,
                        "url": "www.facebook.com",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8eb6d5e5-ac32-48ac-9f7b-3c0e66f5da4e",
                        "mediaKey": "5b2689ac-65d1-47d6-8114-ca17eb48e255",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f9b185a1-2f17-45ad-8436-39639a7b1702",
                "key": "c0de20e7-67eb-44e9-a11a-a239edd18de3",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "LinkedIn",
                        "target": "_blank",
                        "udi": null,
                        "url": "www.linkedin.com",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "aac63ccd-31f4-478f-bc12-54fb73ac5919",
                        "mediaKey": "5a2a080e-adb7-40ee-941f-42e89b09f24f",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4a4b98cd-5870-4c36-8d0d-15ad57378182",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b620aaff-cdda-4067-986b-b44036e82f89",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7abb60cc-81e6-4ab0-b476-d6ba73e69dbf",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "45a24c9c-633a-4c19-bb09-f2a1a63f0467",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c0de20e7-67eb-44e9-a11a-a239edd18de3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4a4b98cd-5870-4c36-8d0d-15ad57378182",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b620aaff-cdda-4067-986b-b44036e82f89",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7abb60cc-81e6-4ab0-b476-d6ba73e69dbf",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "45a24c9c-633a-4c19-bb09-f2a1a63f0467",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c0de20e7-67eb-44e9-a11a-a239edd18de3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Stay Connected"
        }
      ]
    },
    {
      "contentTypeKey": "9ee159ab-34a3-4824-a1b5-069b18d77724",
      "key": "b7cfbc84-2981-4f46-b155-b43b2c37aab8",
      "udi": null,
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "a7a2ec55-8fc0-4460-973d-48b8470965b8",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "FAQs",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "d9a722fa-5a36-4228-8eb0-dc87b9fb3515",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "User Guides",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "1e02fd39-d218-4029-b3ab-9fb3570430f3",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Community Forum",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "41f46632-bd4d-4263-878d-5dbeb465b477",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Feedback",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "35f41df6-4f33-4b14-ba73-e181b2a6216c",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Careers",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a7a2ec55-8fc0-4460-973d-48b8470965b8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d9a722fa-5a36-4228-8eb0-dc87b9fb3515",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1e02fd39-d218-4029-b3ab-9fb3570430f3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "41f46632-bd4d-4263-878d-5dbeb465b477",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "35f41df6-4f33-4b14-ba73-e181b2a6216c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a7a2ec55-8fc0-4460-973d-48b8470965b8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d9a722fa-5a36-4228-8eb0-dc87b9fb3515",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1e02fd39-d218-4029-b3ab-9fb3570430f3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "41f46632-bd4d-4263-878d-5dbeb465b477",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "35f41df6-4f33-4b14-ba73-e181b2a6216c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Resources"
        }
      ]
    },
    {
      "contentTypeKey": "9ee159ab-34a3-4824-a1b5-069b18d77724",
      "key": "be1992eb-c48b-4a7d-b644-ed46f31b467f",
      "udi": null,
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "48595dc5-8a3c-4249-99ff-1bddf2dd14ad",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "FAQs",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "1c3c17cf-ac0f-403e-a006-7f9e116a90e8",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "User Guides",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "fb08d393-cdf9-4600-b75e-02501b65caf8",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Community Forum",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "b94b4f01-7bf9-447f-af66-00e90cef738e",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Feedback",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f",
                "key": "5fe9e394-3e35-43a4-be0e-f73064114c3c",
                "udi": null,
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Careers",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "48595dc5-8a3c-4249-99ff-1bddf2dd14ad",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1c3c17cf-ac0f-403e-a006-7f9e116a90e8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fb08d393-cdf9-4600-b75e-02501b65caf8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b94b4f01-7bf9-447f-af66-00e90cef738e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5fe9e394-3e35-43a4-be0e-f73064114c3c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "48595dc5-8a3c-4249-99ff-1bddf2dd14ad",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1c3c17cf-ac0f-403e-a006-7f9e116a90e8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fb08d393-cdf9-4600-b75e-02501b65caf8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b94b4f01-7bf9-447f-af66-00e90cef738e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5fe9e394-3e35-43a4-be0e-f73064114c3c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Resources"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4ce5054a-9662-4aa1-ba06-107cfeb7c7c2",
      "key": "8f040e97-e179-4eb6-a87c-ee0708f2fd2b",
      "udi": null,
      "values": [
        {
          "alias": "twLayoutGap",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "twPaddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "twPaddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "twDarkModePresetTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Lightest",
            "value": "#F2F2F2"
          }
        },
        {
          "alias": "twDarkModePresetBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Alpine",
            "value": "#ADAD2D"
          }
        },
        {
          "alias": "twLightModePresetTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Neutral Darkest",
            "value": "#000000"
          }
        },
        {
          "alias": "twLightModePresetBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Alpine",
            "value": "#ADAD2D"
          }
        },
        {
          "alias": "twPaddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "twPaddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        }
      ]
    },
    {
      "contentTypeKey": "a176e953-3701-4981-bdfb-6f4f7d83b581",
      "key": "a871278c-dd17-49db-9d67-1b00c0da481a",
      "udi": null,
      "values": [
        {
          "alias": "twJustifyItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Center"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a3c79c88-a594-47c9-b6d3-6a93043f7294",
      "key": "3b72750b-a073-4719-b239-394aa0d65482",
      "udi": null,
      "values": [
        {
          "alias": "twLayoutGap",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    },
    {
      "contentTypeKey": "937fbe95-5e75-4149-aba4-3f445fd18b73",
      "key": "03ae4f9d-8ccb-4e87-8337-efa50c921e25",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "076e8ea0-1398-44f8-be8e-02eb3f41159f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "67dc6a55-b993-46bd-bedb-b2915a85a8ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2b8530db-6b5a-49ab-acea-004e850655b3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "07472228-8b74-47dd-8a7d-3782b73202e8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d8c28d4-f484-44bf-b3c3-88d66c316280",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e305de9a-318f-457f-b9ba-6f797e3aba57",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b7cfbc84-2981-4f46-b155-b43b2c37aab8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be1992eb-c48b-4a7d-b644-ed46f31b467f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "07472228-8b74-47dd-8a7d-3782b73202e8",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": "3b72750b-a073-4719-b239-394aa0d65482",
                        "settingsUdi": null
                      }
                    ],
                    "key": "7d011525-950d-4f28-ae87-80779e9b33c0"
                  }
                ],
                "columnSpan": 6,
                "contentKey": "2b8530db-6b5a-49ab-acea-004e850655b3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a871278c-dd17-49db-9d67-1b00c0da481a",
                "settingsUdi": null
              }
            ],
            "key": "ea7717c4-70c3-4420-8c1e-543d5cdad0dd"
          },
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "contentKey": "be1992eb-c48b-4a7d-b644-ed46f31b467f",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "9807d042-ff7b-4934-be29-cfc5c79ca922"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "contentKey": "b7cfbc84-2981-4f46-b155-b43b2c37aab8",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "86c180df-ab5a-47bc-a282-6a122392b8d0"
                  },
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "contentKey": "e305de9a-318f-457f-b9ba-6f797e3aba57",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "aa2f1649-056b-4348-8d71-e525e02d9f04"
                  }
                ],
                "columnSpan": 6,
                "contentKey": "3d8c28d4-f484-44bf-b3c3-88d66c316280",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "03ae4f9d-8ccb-4e87-8337-efa50c921e25",
                "settingsUdi": null
              }
            ],
            "key": "f181e34d-8065-42f3-8fb0-b7a936dafca5"
          }
        ],
        "columnSpan": 12,
        "contentKey": "076e8ea0-1398-44f8-be8e-02eb3f41159f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "8f040e97-e179-4eb6-a87c-ee0708f2fd2b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerContent>
    <lightModeAccent>
      <Value><![CDATA[]]></Value>
    </lightModeAccent>
    <lightModeBackground>
      <Value><![CDATA[0]]></Value>
    </lightModeBackground>
    <lightModeText>
      <Value><![CDATA[]]></Value>
    </lightModeText>
    <metaDescription>
      <Value><![CDATA[Something]]></Value>
    </metaDescription>
    <redirectType>
      <Value><![CDATA[]]></Value>
    </redirectType>
    <redirectUrl>
      <Value><![CDATA[]]></Value>
    </redirectUrl>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6a00dbe9-3fb4-46d0-adab-be7d41914350",
    "mediaKey": "c9b833c0-6d44-49aa-bc64-f230cc3c0390",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[DevingTone]]></Value>
    </siteName>
    <twDarkModeCustomAccentColor>
      <Value><![CDATA[]]></Value>
    </twDarkModeCustomAccentColor>
    <twDarkModeCustomBackgroundColor>
      <Value><![CDATA[#cb7e7eeb]]></Value>
    </twDarkModeCustomBackgroundColor>
    <twDarkModeCustomTextColor>
      <Value><![CDATA[]]></Value>
    </twDarkModeCustomTextColor>
    <twDarkModePresetAccentColor>
      <Value><![CDATA[{
  "label": "Tall Poppy",
  "value": "#B42D2D"
}]]></Value>
    </twDarkModePresetAccentColor>
    <twDarkModePresetBackgroundColor>
      <Value><![CDATA[{
  "label": "Neutral Dark",
  "value": "#4C4C4C"
}]]></Value>
    </twDarkModePresetBackgroundColor>
    <twDarkModePresetTextColor>
      <Value><![CDATA[{
  "label": "Neutral Lightest",
  "value": "#F2F2F2"
}]]></Value>
    </twDarkModePresetTextColor>
    <twLightModeCustomAccentColor>
      <Value><![CDATA[]]></Value>
    </twLightModeCustomAccentColor>
    <twLightModeCustomBackgroundColor>
      <Value><![CDATA[#0936c8e6]]></Value>
    </twLightModeCustomBackgroundColor>
    <twLightModeCustomTextColor>
      <Value><![CDATA[]]></Value>
    </twLightModeCustomTextColor>
    <twLightModePresetAccentColor>
      <Value><![CDATA[]]></Value>
    </twLightModePresetAccentColor>
    <twLightModePresetBackgroundColor>
      <Value><![CDATA[{
  "label": "Alpine Lightest",
  "value": "#F6F6EA"
}]]></Value>
    </twLightModePresetBackgroundColor>
    <twLightModePresetTextColor>
      <Value><![CDATA[{
  "label": "Neutral Darkest",
  "value": "#000000"
}]]></Value>
    </twLightModePresetTextColor>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>