<?xml version="1.0" encoding="utf-8"?>
<Content Key="931d442f-1ef5-4f31-be6c-570e9ed62ba4" Alias="Submit Rental" Level="3">
  <Info>
    <Parent Key="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">Rentals</Parent>
    <Path>/Home/Rentals/SubmitRental</Path>
    <Trashed>false</Trashed>
    <ContentType>submitRentalFormPage</ContentType>
    <CreateDate>2025-04-10T15:42:02</CreateDate>
    <NodeName Default="Submit Rental" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="29e34391-8914-4eda-9d7a-f558c59d8756">SubmitRentalFormPage</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>