<?xml version="1.0" encoding="utf-8"?>
<Content Key="54814f60-2540-4e19-bcf9-e351196e13f3" Alias="Test" Level="3">
  <Info>
    <Parent Key="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">Rentals</Parent>
    <Path>/Home/Rentals/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-05-05T15:08:55</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[admin@ex.com]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[{
  "markup": "sdfsdf",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[[
  {
    "key": "31df2d63-7abd-4e6e-9248-32077c2498ce",
    "mediaKey": "7cc31c24-911b-47d5-af9f-e71bc4c2e022",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "09a08830-5062-41e6-9930-a1a5867a6af3",
    "mediaKey": "34f67ff8-9ac9-47e3-b18e-ab5dd030e64d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "70c4df42-c047-447b-bfcc-c5407041eb84",
    "mediaKey": "cf31b0aa-fa5d-4ab8-89f8-3fff7ccbbf5b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "67b1eb7b-03ef-4179-99e0-981c76b17a72",
    "mediaKey": "936ba54e-2357-4131-9217-94726461339d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "edd08eca-45d6-4d28-a6b3-239e00d56f1c",
    "mediaKey": "ea8f8604-28f6-4ce0-81c9-711391b5d019",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b0849a19-cc8b-43cc-b42c-1be76d35898c",
    "mediaKey": "7323643d-90bc-4bdf-9eb3-39b5706d198c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a5cfb72e-cd72-4713-9581-24f154cf0340",
    "mediaKey": "23c146b4-508a-4651-8b63-407ef0540b2c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ab7c9f04-da64-43c3-9e11-73459f7bd2bc",
    "mediaKey": "12469a58-9a41-47b8-803b-47b60ee3f23f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4fea1c11-7291-4829-bb63-1a456ad207db",
    "mediaKey": "322a1f81-f3b1-4f40-a9b5-3cf406ad7a17",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8baafda4-2016-4079-9e69-8317ff25f9bf",
    "mediaKey": "5f42224b-44aa-4cb0-a14e-8fdade7bae5b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "60cf6df4-955b-4329-b610-4282de53518e",
    "mediaKey": "834bc32f-eeba-4273-8a3f-de0345762a17",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8e487f6b-292f-42ae-89a6-fe57b5c8d792",
    "mediaKey": "ef2a6799-1379-4759-bf45-b45fd9774d8c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ec3078f7-3eb9-4280-9e9d-6f3aab188410",
    "mediaKey": "277df3b8-4e1d-45d4-aeda-a68b7a39e75a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[2345]]></Value>
    </price>
    <title>
      <Value><![CDATA[Test]]></Value>
    </title>
  </Properties>
</Content>