<?xml version="1.0" encoding="utf-8"?>
<Content Key="54814f60-2540-4e19-bcf9-e351196e13f3" Alias="Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test</Path>
    <Trashed Parent="c81f6d24-4ac4-43df-8506-c9a8b27dcdaf">true</Trashed>
    <ContentType>rental</ContentType>
    <CreateDate>2025-05-05T15:08:55</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a5d34120-c550-495b-9987-11c358c0acf7">Rental</Template>
  </Info>
  <Properties>
    <addedBy>
      <Value><![CDATA[admin@ex.com]]></Value>
    </addedBy>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EA nice house\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <gallery>
      <Value><![CDATA[]]></Value>
    </gallery>
    <price>
      <Value><![CDATA[1500]]></Value>
    </price>
    <title>
      <Value><![CDATA[House]]></Value>
    </title>
  </Properties>
</Content>