@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ColumnLayout, ColumnLayoutSettings>>

@{
    var area = Model?.Areas.SingleOrDefault();

    if (area is null) { return; }

    var columnLayoutClasses = Model.Settings?.GenerateTailwindClasses<ColumnLayoutSettings>();
}

<div id="@area.Alias" class="@columnLayoutClasses">
    @await Html.GetBlockGridItemsHtmlAsync(area)
</div>
