@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<LayoutTest, LayoutSettings>>

@{
   
    var themeColorsCss = Model.Settings?.GetThemeClasses();
}
 
<div class="py-4 @themeColorsCss">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>