@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Layout1x1_1x3, LayoutSettings>>

@{
    var themeColorsCss = Model.Settings?.GetThemeClasses();
}
 
<div class="@themeColorsCss w-full p-4">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>
