@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Layout1X1, Layout1X1Settings>>

@{
    if (Model?.Areas.SingleOrDefault() is null) { return; }
    var themeClasses = Model.Settings?.GenerateTailwindClasses<ITwThemeProperties>();
    var layoutClasses = Model.Settings?.GenerateTailwindClasses<ITwLayoutProperties>();
    var areas = Model.Areas.ToList();
}

<div id="layout_1x1" class="@themeClasses @layoutClasses layout w-full">
    @await Html.GetBlockGridItemsHtmlAsync(areas[0])
</div>
