@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Layout1x2, LayoutSettings>>

@{
    if (Model?.Areas.Count() != 2) { return; }
    var themeColorsCss = Model.Settings?.GetThemeClasses();
}
 
<div class="py-4 @themeColorsCss">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>