@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Layout1x2_1x3, Layout1X2_1X3Settings>>

@{
    var themeColorsCss = Model.Settings?.GetThemeClasses();
    var layoutStyles = Model.Settings?.GenerateCss<ILayoutProperties>(Compositions.LAYOUT);
    var gridStyles = Model.Settings?.GenerateCss<IGridGapProperties>();
    var areas = Model.Areas.ToList();
}

<div id="layout1x1_1x3" class="@themeColorsCss w-full" style="@layoutStyles">
    <div class="flex w-full flex-col gap-5">
        <div class="grid md:grid-cols-2" style="@gridStyles">
            @await Html.GetBlockGridItemsHtmlAsync(areas[0], Components.ITEMS_LAYOUT)
            @await Html.GetBlockGridItemsHtmlAsync(areas[1], Components.ITEMS_LAYOUT)
        </div>
        <div class="grid md:grid-cols-3" style="@gridStyles">
            @await Html.GetBlockGridItemsHtmlAsync(areas[2], Components.ITEMS_LAYOUT)
            @await Html.GetBlockGridItemsHtmlAsync(areas[3], Components.ITEMS_LAYOUT)
            @await Html.GetBlockGridItemsHtmlAsync(areas[4], Components.ITEMS_LAYOUT)
        </div>
    </div>
</div>