@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Layout1X1, Layout1X1Settings>>

@{
    if (Model?.Areas.SingleOrDefault() is null) { return; }
    var themeColorsCss = Model.Settings?.GetThemeClasses();
    var layoutStyle = Model.Settings?.GenerateCss<ILayoutProperties>(Compositions.LAYOUT);
    var areas = Model.Areas.ToList();
}

<div id="layout_1x1" class="@themeColorsCss relative" style="@layoutStyle">
    <div id="@areas[0].Alias">
        @await Html.GetBlockGridItemsHtmlAsync(areas[0], Components.ITEMS_SIMPLE)
    </div>
</div>
