<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64636548-0383-41fa-b40d-b3c5a6a10899" Alias="authenticationPage" Level="2">
  <Info>
    <Name>Authentication Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ebc1f54f-3c72-49af-b9d1-399f95bf68ce">navigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>AuthenticationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5b012879-bdf3-4668-9c30-05b8e0fe9588">AuthenticationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>b5b122d9-963d-40c7-ac54-d25f58cd6e38</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>