<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9117561-1fa4-4df1-9e1d-657e4b22b53b" Alias="column2Properties" Level="5">
  <Info>
    <Name>Column 2 Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Custom</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c3c3465f-c034-4208-8cb8-adaeb5cbf6c5</Key>
      <Name>Column 2 Align Content</Name>
      <Alias>column2AlignContent</Alias>
      <Definition>23e1795e-2712-42f9-9c2b-c1456c19e05c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="columns/column2">Column 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75207004-518c-4cd3-801d-7c17a5020e33</Key>
      <Caption>Column 2</Caption>
      <Alias>columns/column2</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c79dd3d4-ade0-452c-895c-2ce0b990f6f6</Key>
      <Caption>Columns</Caption>
      <Alias>columns</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>