<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a176e953-3701-4981-bdfb-6f4f7d83b581" Alias="columnLayoutSettings" Level="4">
  <Info>
    <Name>Column Layout Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Layouts</Folder>
    <Compositions>
      <Composition Key="de675e36-5e47-4818-a6c8-9f1e089237c3">twAlignContentProperties</Composition>
      <Composition Key="6f5d38ce-6107-460f-befe-b3bf1f2f81b5">twJustifyItemsProperties</Composition>
      <Composition Key="b75d9777-2753-4109-89bf-8bd68f5e7f2c">twLayoutProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>