<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27afca73-af20-4564-8a9d-9443aebbffb3" Alias="column1Properties" Level="5">
  <Info>
    <Name>Column 1 Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Custom</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2bd3c32d-6b62-4bcb-8f95-34fee4b932ed</Key>
      <Name>Column 1 Align Content</Name>
      <Alias>column1AlignContent</Alias>
      <Definition>23e1795e-2712-42f9-9c2b-c1456c19e05c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="columns/column1">Column 1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>254fb59f-5f6f-4de6-bc4a-29d870f3699d</Key>
      <Caption>Columns</Caption>
      <Alias>columns</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9a0c06f7-096e-4bad-a23e-0b733e9820ec</Key>
      <Caption>Column 1</Caption>
      <Alias>columns/column1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>