<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1269131-6970-4157-9133-765d75842076" Alias="contentBlockSettings" Level="3">
  <Info>
    <Name>Content Block Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions</Folder>
    <Compositions>
      <Composition Key="b0ae7b9c-7007-435c-a337-db5ff0987bf1">alignGridBlockProperties</Composition>
      <Composition Key="f8c68297-1bcb-444b-b707-658c7157e477">justifyGridBlockProperties</Composition>
      <Composition Key="ecdf8d60-7324-4fbe-8e62-554abd9d99ef">marginProperties</Composition>
      <Composition Key="2b09d0e3-dd18-458f-ac18-08dd2851ce51">paddingProperties</Composition>
      <Composition Key="d1430e13-dcd1-43f8-91b6-974239d5db05">themeProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>