<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32264519-cdaf-416a-9882-c105b13d1b29" Alias="containerStylingProperties" Level="4">
  <Info>
    <Name>Container Styling Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b17d6cde-a323-4da5-a304-db4126446aa0</Key>
      <Name>Container Align Items</Name>
      <Alias>containerAlignItems</Alias>
      <Definition>209635c2-f4af-48df-af34-89a944059ce4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="container">Container</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf290234-4531-472a-9c2f-938a42d0af5d</Key>
      <Name>Container Justify Content</Name>
      <Alias>containerJustifyContent</Alias>
      <Definition>fd0b6dd3-d9a9-4a49-9ffa-a9753db984ac</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="container">Container</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f633884-5e00-4630-bd74-c67402114f49</Key>
      <Name>Container Margin Bottom</Name>
      <Alias>containerMarginBottom</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="container/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c83c802-01a1-46dd-ab13-94a359072502</Key>
      <Name>Container Margin Left</Name>
      <Alias>containerMarginLeft</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="container/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8689628c-3b9e-40de-9cde-3c16d112dc4a</Key>
      <Name>Container Margin Right</Name>
      <Alias>containerMarginRight</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="container/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d486c9f9-0e1d-4785-aeb5-73e68482082a</Key>
      <Name>Container Margin Top</Name>
      <Alias>containerMarginTop</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="container/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6548f8e-7338-4d7c-9bd0-a279e620c5e2</Key>
      <Name>Container Padding Bottom</Name>
      <Alias>containerPaddingBottom</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="container/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9438985b-5045-48b3-8e9b-b0c5d0d238f1</Key>
      <Name>Container Padding Left</Name>
      <Alias>containerPaddingLeft</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="container/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8dbeeeca-9065-40df-95f9-a6506270ae79</Key>
      <Name>Container Padding Right</Name>
      <Alias>containerPaddingRight</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="container/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba98708c-e356-4c73-baca-977c55cda678</Key>
      <Name>Container PaddingTop</Name>
      <Alias>containerPaddingTop</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="container/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0494b37e-ba73-4a37-95bd-a8c1f0512a21</Key>
      <Caption>Container</Caption>
      <Alias>container</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>07146742-2bed-4604-a529-7c00fae1a792</Key>
      <Caption>Margin</Caption>
      <Alias>container/margin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>920b4df8-1bee-4285-ba0d-6aff2fe475ed</Key>
      <Caption>Padding</Caption>
      <Alias>container/padding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>