<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5523df01-27bf-4c7c-9144-beb87118440f" Alias="featureCardSettings" Level="4">
  <Info>
    <Name>Feature Card Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Block+Contents</Folder>
    <Compositions>
      <Composition Key="f1e0a9bf-8450-4f5c-ad68-3542d22e4284">alignItemsProperties</Composition>
      <Composition Key="32264519-cdaf-416a-9882-c105b13d1b29">containerStylingProperties</Composition>
      <Composition Key="74b4734d-d839-44f5-993d-e663eb1a7fdb">gridLayoutItemProperties</Composition>
      <Composition Key="ecdf8d60-7324-4fbe-8e62-554abd9d99ef">marginProperties</Composition>
      <Composition Key="2b09d0e3-dd18-458f-ac18-08dd2851ce51">paddingProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>