<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74b4734d-d839-44f5-993d-e663eb1a7fdb" Alias="gridLayoutItemProperties" Level="4">
  <Info>
    <Name>Grid Layout Item Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>734cf1c0-b70e-47b8-8e44-d85cdf60267b</Key>
      <Name>Align Items</Name>
      <Alias>gridItemAlignItems</Alias>
      <Definition>209635c2-f4af-48df-af34-89a944059ce4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gridItemLayout">Grid Item Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a94c2937-4aa1-4bbf-ba41-c369e9c6fcdd</Key>
      <Name>Justify Content</Name>
      <Alias>gridItemJustifyContent</Alias>
      <Definition>fd0b6dd3-d9a9-4a49-9ffa-a9753db984ac</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gridItemLayout">Grid Item Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44a3daee-b3cd-418e-9934-395edaeb244d</Key>
      <Name>Margin Bottom</Name>
      <Alias>gridItemMarginBottom</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gridItemLayout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41ecbed6-8df0-4be2-8b4f-cc4248ba3094</Key>
      <Name>Margin Left</Name>
      <Alias>gridItemMarginLeft</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="gridItemLayout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b085a683-3202-425b-a895-aceb427d38b5</Key>
      <Name>Margin Right</Name>
      <Alias>gridItemMarginRight</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gridItemLayout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22456d9a-e7fa-416a-8b10-f8a14d20d035</Key>
      <Name>Margin Top</Name>
      <Alias>gridItemMarginTop</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gridItemLayout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59dc315b-6c0b-4051-a132-c4b97203c8a5</Key>
      <Name>Padding Bottom</Name>
      <Alias>gridItemPaddingBottom</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gridItemLayout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83936ff6-a071-44e9-8e1e-9ada87ca6d83</Key>
      <Name>Padding Left</Name>
      <Alias>gridItemPaddingLeft</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="gridItemLayout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c3794c3-9621-4e3f-ab45-ff7dbe32085b</Key>
      <Name>Padding Right</Name>
      <Alias>gridItemPaddingRight</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gridItemLayout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88a9186b-766c-4102-b4d0-5686aad7118b</Key>
      <Name>Padding Top</Name>
      <Alias>gridItemPaddingTop</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gridItemLayout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3bc4787e-c36d-4952-81d5-af3d9c051a50</Key>
      <Caption>Padding</Caption>
      <Alias>gridItemLayout/padding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6204b366-2a9b-49e6-908b-89d1effaea64</Key>
      <Caption>Margin</Caption>
      <Alias>gridItemLayout/margin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>91187481-43b2-41aa-99ae-cfcb2d87ea60</Key>
      <Caption>Grid Item Layout</Caption>
      <Alias>gridItemLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>