<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3a62b40-7a08-4ecc-9ad9-61cb1dbe82eb" Alias="heroSectionCardSettings" Level="4">
  <Info>
    <Name>Hero Section Card Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Block+Contents</Folder>
    <Compositions>
      <Composition Key="4127aa48-e597-4c94-ad8d-4efbeb8cb42c">twAlignItemsProperties</Composition>
      <Composition Key="a16ea732-0002-4279-9175-f11b6f5c1ba2">twLayoutGapProperties</Composition>
      <Composition Key="b75d9777-2753-4109-89bf-8bd68f5e7f2c">twLayoutProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>