<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b328e7f-b3f9-41ab-a982-65d7341969eb" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5d68bdac-cd80-414f-81d1-99977014e0b4">mainContent</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da82bc41-58e0-4233-a951-0054d2872393">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2f65de80-7618-481b-bf32-040fb0860ecf" SortOrder="0">siteSettings</ContentType>
    <ContentType Key="5176cae4-83a8-4c93-b4e5-f4d949cdba78" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="64636548-0383-41fa-b40d-b3c5a6a10899" SortOrder="2">signInPage</ContentType>
    <ContentType Key="9e78ec74-a7a4-4dd4-a77e-a374aef1d6c2" SortOrder="3">signUpPage</ContentType>
    <ContentType Key="e76a2953-def0-401a-8edf-5959dc3bc95a" SortOrder="4">rentalsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>