<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61afb8f7-8c7a-4abf-b3fc-a69c598cd41f" Alias="imageBlockProperties" Level="5">
  <Info>
    <Name>Image Block Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Custom</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0529c8e6-3f60-42ae-8b0c-9efd1705b44d</Key>
      <Name>Image Height</Name>
      <Alias>imageHeightPercent</Alias>
      <Definition>81ea1388-14d9-494b-b7d2-41d6a8fba2b9</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d370a8f9-b465-4cfb-b942-a2c124a7db15</Key>
      <Name>ImageObjectFit</Name>
      <Alias>imageObjectFit</Alias>
      <Definition>2b3ac7a6-152b-4dff-a0e5-f63a0a6fa810</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b68492d9-437a-46db-929d-f441f9e7eaaa</Key>
      <Name>Image Width</Name>
      <Alias>imageWidthPercent</Alias>
      <Definition>81ea1388-14d9-494b-b7d2-41d6a8fba2b9</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define the width of the image in %]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0bcf16af-5aed-4c9d-be9f-f29bc2b7280b</Key>
      <Caption>Image</Caption>
      <Alias>image</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>