<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c01e18e8-bb48-4fa0-8260-b921c1a54c5c" Alias="imageBlockSettings" Level="4">
  <Info>
    <Name>Image Block Settings</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Block+Contents</Folder>
    <Compositions>
      <Composition Key="61afb8f7-8c7a-4abf-b3fc-a69c598cd41f">imageBlockProperties</Composition>
      <Composition Key="2b09d0e3-dd18-458f-ac18-08dd2851ce51">paddingProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>