<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27b5e4db-e76d-46a2-b9b4-2f318c444d5c" Alias="layout1X1Settings" Level="4">
  <Info>
    <Name>Layout 1x1 Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Layouts</Folder>
    <Compositions>
      <Composition Key="f695ce66-ef2f-439a-88d4-4fd288211be4">backgroundImageProperties</Composition>
      <Composition Key="a06555a0-f510-4859-90c9-5d338939059d">justifyItemsProperties</Composition>
      <Composition Key="86a47431-b10a-4b53-9d54-9b8290aa3d64">overlayProperties</Composition>
      <Composition Key="b75d9777-2753-4109-89bf-8bd68f5e7f2c">twLayoutProperties</Composition>
      <Composition Key="6adfe510-dc7d-4c80-81aa-5b7852e7538b">twThemeProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>