<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5086a348-e2f0-4564-be0f-bc4306a304bc" Alias="layoutProperties" Level="5">
  <Info>
    <Name>Layout Properties</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Custom</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec2fd583-2224-478b-8f3a-e5e11a7b3c45</Key>
      <Name>Layout Margin Bottom</Name>
      <Alias>layoutMarginBottom</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4437c997-7c43-4620-ac5b-b917274edd6e</Key>
      <Name>Layout Margin Left</Name>
      <Alias>layoutMarginLeft</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6c0c7b6-c5df-46a6-9f3d-ca8941a88163</Key>
      <Name>Layout Margin Right</Name>
      <Alias>layoutMarginRight</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f37be68d-e8be-47b8-9d91-67a2fb157741</Key>
      <Name>Layout Margin Top</Name>
      <Alias>layoutMarginTop</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f1938ba-9487-4314-b700-2b6d1729f49c</Key>
      <Name>Layout Padding Bottom</Name>
      <Alias>layoutPaddingBottom</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2357131-bd91-4b70-aa33-3c78220fdccf</Key>
      <Name>Layout Padding Left</Name>
      <Alias>layoutPaddingLeft</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5bcbd871-c6c1-444f-a390-0a92d258a58a</Key>
      <Name>Layout Padding Right</Name>
      <Alias>layoutPaddingRight</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d56d3bb7-e939-4781-bfba-b868865dcebb</Key>
      <Name>Layout Padding Top</Name>
      <Alias>layoutPaddingTop</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2daac3f8-2529-4f41-b8f5-289134443d80</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>39de6ceb-398c-47d3-a11f-fa857a8b6325</Key>
      <Caption>Padding</Caption>
      <Alias>layout/padding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>aad51485-3dd3-476f-8134-16b373cc6363</Key>
      <Caption>Margin</Caption>
      <Alias>layout/margin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>