<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ce5054a-9662-4aa1-ba06-107cfeb7c7c2" Alias="layout1X2Settings" Level="4">
  <Info>
    <Name>Layout 1x2 Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Layouts</Folder>
    <Compositions>
      <Composition Key="1313ed02-769b-4a86-8d36-ee2369168693">gridGapProperties</Composition>
      <Composition Key="5086a348-e2f0-4564-be0f-bc4306a304bc">layoutProperties</Composition>
      <Composition Key="d1430e13-dcd1-43f8-91b6-974239d5db05">themeProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>