<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3cc49a0a-45a1-4551-a1c8-d000909d6348" Alias="layout1X1_1X3Settings" Level="4">
  <Info>
    <Name>Layout 1x1 1x3 Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Layouts</Folder>
    <Compositions>
      <Composition Key="a16ea732-0002-4279-9175-f11b6f5c1ba2">twLayoutGapProperties</Composition>
      <Composition Key="b75d9777-2753-4109-89bf-8bd68f5e7f2c">twLayoutProperties</Composition>
      <Composition Key="6adfe510-dc7d-4c80-81aa-5b7852e7538b">twThemeProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>