<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77e9a651-db56-4f98-99ce-d7abc9a3e778" Alias="mediaWallLayoutSettings" Level="4">
  <Info>
    <Name>Media Wall Layout Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Layouts</Folder>
    <Compositions>
      <Composition Key="32264519-cdaf-416a-9882-c105b13d1b29">containerStylingProperties</Composition>
      <Composition Key="74b4734d-d839-44f5-993d-e663eb1a7fdb">gridLayoutItemProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>