<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77e9a651-db56-4f98-99ce-d7abc9a3e778" Alias="mediaWallLayoutSettings" Level="4">
  <Info>
    <Name>Media Wall Layout Settings</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Setting+Compositions/Layouts</Folder>
    <Compositions>
      <Composition Key="e21db1c2-372d-4d5f-a9cd-db269cbc15d7">twJustifySelfProperties</Composition>
      <Composition Key="a16ea732-0002-4279-9175-f11b6f5c1ba2">twLayoutGapProperties</Composition>
      <Composition Key="b75d9777-2753-4109-89bf-8bd68f5e7f2c">twLayoutProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6d1662f1-3c1e-45d7-81a7-e08da1ebff7e</Key>
      <Name>Media Wall Size</Name>
      <Alias>mediaWallSize</Alias>
      <Definition>20037cd3-c228-4652-9027-b5bf2caad630</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change the display size of the media wall]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mediaWall">Media Wall</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f82c7914-12b0-4559-8848-b77695cfcae3</Key>
      <Caption>Media Wall</Caption>
      <Alias>mediaWall</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>