<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e76a2953-def0-401a-8edf-5959dc3bc95a" Alias="rentalsPage" Level="2">
  <Info>
    <Name>Rentals Page</Name>
    <Icon>icon-page-add color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ebc1f54f-3c72-49af-b9d1-399f95bf68ce">navigationProperties</Composition>
      <Composition Key="1e8ced35-33de-4acb-bced-6af4a61e648d">seoProperties</Composition>
    </Compositions>
    <DefaultTemplate>RentalsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07e12de9-e400-4f53-8410-dd81ca441366">RentalsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>