<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64636548-0383-41fa-b40d-b3c5a6a10899" Alias="signInPage" Level="2">
  <Info>
    <Name>Sign In</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ebc1f54f-3c72-49af-b9d1-399f95bf68ce">navigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>signInPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b9f8e82-6bab-4bd9-8e2a-9395ec830379">signInPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>