<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e78ec74-a7a4-4dd4-a77e-a374aef1d6c2" Alias="signUpPage" Level="2">
  <Info>
    <Name>Sign Up Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ebc1f54f-3c72-49af-b9d1-399f95bf68ce">navigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>signUpPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0fd85912-377d-41e2-a965-cd1cef260490">signUpPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>