<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f65de80-7618-481b-bf32-040fb0860ecf" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions>
      <Composition Key="ebc1f54f-3c72-49af-b9d1-399f95bf68ce">navigationProperties</Composition>
      <Composition Key="c5dc6a12-f5fe-4bfa-badf-8e6f2cd6d2bf">siteProperties</Composition>
      <Composition Key="6adfe510-dc7d-4c80-81aa-5b7852e7538b">twThemeProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a40bd507-655d-495d-bbe6-475fb98a3c64</Key>
      <Name>Footer Content</Name>
      <Alias>footerContent</Alias>
      <Definition>8e1d9c77-c550-430d-b033-108d106d70da</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2c988520-9829-4a9a-b07f-c54493dda8cc</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>