<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3479ebde-f2c8-4ef5-adea-e10ff54ba9e9" Alias="submitRentalFormPage" Level="2">
  <Info>
    <Name>Submit Rental Form Page</Name>
    <Icon>icon-document-html color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ebc1f54f-3c72-49af-b9d1-399f95bf68ce">navigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>SubmitRentalFormPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="29e34391-8914-4eda-9d7a-f558c59d8756">SubmitRentalFormPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>