<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d1430e13-dcd1-43f8-91b6-974239d5db05" Alias="themeProperties" Level="3">
  <Info>
    <Name>Theme Properties</Name>
    <Icon>icon-plugin color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f9a2d3b-a3de-4ff5-a9e7-2a1ac6e66a99</Key>
      <Name>Dark Mode Accent Color</Name>
      <Alias>darkModeAccentColor</Alias>
      <Definition>b4a5e2ba-b120-4c77-9dd6-a8d08c15353f</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0170c7e5-50d7-4a41-96c2-9ce092d72af2</Key>
      <Name>Dark Mode Background Color</Name>
      <Alias>darkModeBackgroundColor</Alias>
      <Definition>d09ba516-912d-4f22-b472-9b95cd94d4df</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>420b9bec-f64d-41f1-ba1c-249f965cf953</Key>
      <Name>Dark Mode Text Color</Name>
      <Alias>darkModeTextColor</Alias>
      <Definition>96354395-ba62-4151-8978-6152a2484218</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3b38f76-bca3-4d35-a3ce-42ab6d17c752</Key>
      <Name>Light Mode Accent Color</Name>
      <Alias>lightModeAccentColor</Alias>
      <Definition>b4a5e2ba-b120-4c77-9dd6-a8d08c15353f</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea0e4dcc-4b32-488b-a2fc-44da9b5b2f83</Key>
      <Name>Light Mode Background Color</Name>
      <Alias>lightModeBackgroundColor</Alias>
      <Definition>d09ba516-912d-4f22-b472-9b95cd94d4df</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d41c7adb-c917-4b1d-9b02-403b73004898</Key>
      <Name>Light Mode Text Color</Name>
      <Alias>lightModeTextColor</Alias>
      <Definition>96354395-ba62-4151-8978-6152a2484218</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2b2b6dd9-63f7-4f12-ac43-e1035c57646b</Key>
      <Caption>Theme</Caption>
      <Alias>theme</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>