<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4127aa48-e597-4c94-ad8d-4efbeb8cb42c" Alias="twAlignItemsProperties" Level="5">
  <Info>
    <Name>TW Align Items Properties</Name>
    <Icon>icon-plugin color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Tailwind</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e5ef039-e394-4444-a468-7fe565fa8e65</Key>
      <Name>Align Items</Name>
      <Alias>twAlignItems</Alias>
      <Definition>209635c2-f4af-48df-af34-89a944059ce4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="align">Align</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08e6cdfe-b8a2-4f05-9561-6d1c02169918</Key>
      <Caption>Align</Caption>
      <Alias>align</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>