<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="916ad129-abf9-4a17-91bb-f7609c90663b" Alias="twBorderRadiusProperties" Level="5">
  <Info>
    <Name>TW Border Radius Properties</Name>
    <Icon>icon-plugin color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Border Size</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Tailwind</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>91b73364-3122-4181-aafe-1b5a778e6b2f</Key>
      <Name>Rounded</Name>
      <Alias>twRounded</Alias>
      <Definition>ef94b7e2-1e38-4378-9fe1-7285224d74e3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="borderSize">Border Size</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d4e140e6-d079-465e-ab0b-6c34bd34cc0c</Key>
      <Caption>Border Size</Caption>
      <Alias>borderSize</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>