<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f5d38ce-6107-460f-befe-b3bf1f2f81b5" Alias="twJustifyItemsProperties" Level="5">
  <Info>
    <Name>TW Justify Items Properties</Name>
    <Icon>icon-plugin color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Tailwind</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6c7320d9-e3ea-431e-863b-dcff59a14af0</Key>
      <Name>Justify Items</Name>
      <Alias>twJustifyItems</Alias>
      <Definition>9e996e7b-ff11-4e00-b38d-5b5285c42b5b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="justify">Justify</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dc58cf5e-8156-4b9f-918d-ec370223760d</Key>
      <Caption>Justify</Caption>
      <Alias>justify</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>