<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b75d9777-2753-4109-89bf-8bd68f5e7f2c" Alias="twLayoutProperties" Level="5">
  <Info>
    <Name>TW Layout Properties</Name>
    <Icon>icon-plugin color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Tailwind</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>84cdabe3-09af-49f5-a591-36657d825702</Key>
      <Name>Margin Bottom</Name>
      <Alias>twMarginBottom</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95ec9658-a68c-4c0f-86e0-141ef0de378b</Key>
      <Name>Margin Left</Name>
      <Alias>twMarginLeft</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95959b98-c334-4b37-9e03-526535816b98</Key>
      <Name>Margin Right</Name>
      <Alias>twMarginRight</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d7108dc-e471-44cd-9da7-db7a6afc71ee</Key>
      <Name>Margin Top</Name>
      <Alias>twMarginTop</Alias>
      <Definition>6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/margin">Margin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0096d3f2-9a99-4cd3-b9c0-c37faebfd1b0</Key>
      <Name>Padding Bottom</Name>
      <Alias>twPaddingBottom</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>201d0643-b168-46be-903d-1ba44058b39e</Key>
      <Name>Padding Left</Name>
      <Alias>twPaddingLeft</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82ec3bec-0eb5-4b02-b5e8-59ca8208b861</Key>
      <Name>Padding Right</Name>
      <Alias>twPaddingRight</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08a35cd7-97e2-4279-b74e-706b75d8eb0d</Key>
      <Name>Padding Top</Name>
      <Alias>twPaddingTop</Alias>
      <Definition>e91d20c5-9d5e-42ca-8af3-6818f3678ec8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>91a8a55f-3c2b-42a0-9e66-f19f41113fa0</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c2af7089-fddf-465f-ad33-a894689de0e0</Key>
      <Caption>Padding</Caption>
      <Alias>layout/padding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ed6a9b98-2db9-48ad-9fe0-1f03275d193c</Key>
      <Caption>Margin</Caption>
      <Alias>layout/margin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>