<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6adfe510-dc7d-4c80-81aa-5b7852e7538b" Alias="twThemeProperties" Level="5">
  <Info>
    <Name>TW Theme Properties</Name>
    <Icon>icon-plugin color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Apply theme colors</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Property+Compositions/Styles/Tailwind</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e36d67bc-717a-4d8d-ba0f-40327380991e</Key>
      <Name>Dark Mode Accent</Name>
      <Alias>darkModeAccent</Alias>
      <Definition>6a515f90-63f9-4268-8dba-929054625a53</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="darkMode/darkModeController">Dark Mode Controller</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f512c1cb-6867-48e5-8187-287b8e015b41</Key>
      <Name>Dark Mode Background</Name>
      <Alias>darkModeBackground</Alias>
      <Definition>6a515f90-63f9-4268-8dba-929054625a53</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="darkMode/darkModeController">Dark Mode Controller</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c3cb913-6aeb-4509-b512-97f3dff216e7</Key>
      <Name>Dark Mode Text</Name>
      <Alias>darkModeText</Alias>
      <Definition>6a515f90-63f9-4268-8dba-929054625a53</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="darkMode/darkModeController">Dark Mode Controller</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bdc5704a-98c9-4ca9-a629-3ab25c44644f</Key>
      <Name>Light Mode Accent</Name>
      <Alias>lightModeAccent</Alias>
      <Definition>6a515f90-63f9-4268-8dba-929054625a53</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="lightMode/lightModeController">Light Mode Controller</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac0a6c4c-dbb6-48fd-970e-361845a0ec73</Key>
      <Name>Light Mode Background</Name>
      <Alias>lightModeBackground</Alias>
      <Definition>6a515f90-63f9-4268-8dba-929054625a53</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lightMode/lightModeController">Light Mode Controller</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ed50ce8-584c-41a4-9333-5a9165a975a0</Key>
      <Name>Light Mode Text</Name>
      <Alias>lightModeText</Alias>
      <Definition>6a515f90-63f9-4268-8dba-929054625a53</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="lightMode/lightModeController">Light Mode Controller</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>985eb482-efc8-48f8-b302-ea89e117f6b1</Key>
      <Name>Dark Mode Custom Accent Color</Name>
      <Alias>twDarkModeCustomAccentColor</Alias>
      <Definition>d9120b49-8d6a-436c-9844-06abbf8bd7f0</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="darkMode/darkModeCustom">Dark Mode Custom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90b7903c-7dd3-4bec-bce2-289b5b95faa5</Key>
      <Name>Dark Mode Custom Background Color</Name>
      <Alias>twDarkModeCustomBackgroundColor</Alias>
      <Definition>d9120b49-8d6a-436c-9844-06abbf8bd7f0</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="darkMode/darkModeCustom">Dark Mode Custom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00e496df-a3a5-478a-bd74-88a2ad5b9889</Key>
      <Name>Dark Mode Custom Text Color</Name>
      <Alias>twDarkModeCustomTextColor</Alias>
      <Definition>d9120b49-8d6a-436c-9844-06abbf8bd7f0</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="darkMode/darkModeCustom">Dark Mode Custom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55670b57-e99a-41f9-a2ba-6593cb674b68</Key>
      <Name>Dark Mode Preset Accent Color</Name>
      <Alias>twDarkModePresetAccentColor</Alias>
      <Definition>b4a5e2ba-b120-4c77-9dd6-a8d08c15353f</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="darkMode/darkModePreset">Dark Mode Preset</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d5af9e2e-757b-4a17-8904-b2c2fda49104</Key>
      <Name>Dark Mode Preset Background Color</Name>
      <Alias>twDarkModePresetBackgroundColor</Alias>
      <Definition>d09ba516-912d-4f22-b472-9b95cd94d4df</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="darkMode/darkModePreset">Dark Mode Preset</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bab828f4-d6b9-47bf-8f5d-7c9a5f1973f6</Key>
      <Name>Dark Mode Preset Text Color</Name>
      <Alias>twDarkModePresetTextColor</Alias>
      <Definition>96354395-ba62-4151-8978-6152a2484218</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="darkMode/darkModePreset">Dark Mode Preset</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7258f52f-7b3d-4c03-a0e3-a4e017c791c5</Key>
      <Name>Light Mode Custom Accent Color</Name>
      <Alias>twLightModeCustomAccentColor</Alias>
      <Definition>d9120b49-8d6a-436c-9844-06abbf8bd7f0</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="lightMode/lightModeCustomColors">Light Mode Custom Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6f62fff-0f80-45b4-b155-c0dbc01f1f47</Key>
      <Name>Light Mode Custom Background Color</Name>
      <Alias>twLightModeCustomBackgroundColor</Alias>
      <Definition>d9120b49-8d6a-436c-9844-06abbf8bd7f0</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lightMode/lightModeCustomColors">Light Mode Custom Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38a901e0-e926-4129-8861-7c0a0363ebc7</Key>
      <Name>Light Mode Custom Text Color</Name>
      <Alias>twLightModeCustomTextColor</Alias>
      <Definition>d9120b49-8d6a-436c-9844-06abbf8bd7f0</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="lightMode/lightModeCustomColors">Light Mode Custom Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>219b6b89-1b29-4a53-987a-8c1b98f70345</Key>
      <Name>Light Mode Preset Accent Color</Name>
      <Alias>twLightModePresetAccentColor</Alias>
      <Definition>b4a5e2ba-b120-4c77-9dd6-a8d08c15353f</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the accent color from predefined colors]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="lightMode/lightModePresetColors">Light Mode Preset Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e5d3ec8-2959-490a-b536-24b4044fa433</Key>
      <Name>Light Mode Preset Background Color</Name>
      <Alias>twLightModePresetBackgroundColor</Alias>
      <Definition>d09ba516-912d-4f22-b472-9b95cd94d4df</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background color from predefined colors]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lightMode/lightModePresetColors">Light Mode Preset Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae227ddf-447c-46eb-86b8-aeba11d6062e</Key>
      <Name>Light Mode Preset Text Color</Name>
      <Alias>twLightModePresetTextColor</Alias>
      <Definition>96354395-ba62-4151-8978-6152a2484218</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the text color from predefined colors]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="lightMode/lightModePresetColors">Light Mode Preset Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>07668115-6768-4a08-aa67-3b421125b676</Key>
      <Caption>Dark Mode Controller</Caption>
      <Alias>darkMode/darkModeController</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>090e7dcf-7ee1-4a65-a517-ee73e8041c65</Key>
      <Caption>Light Mode</Caption>
      <Alias>lightMode</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>49b71b32-40f0-44de-ad10-d45577ab202c</Key>
      <Caption>Dark Mode</Caption>
      <Alias>darkMode</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9993583f-4931-4c8f-95f6-37dc58a5cc96</Key>
      <Caption>Dark Mode Custom</Caption>
      <Alias>darkMode/darkModeCustom</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>9a2611cf-a054-474a-b63f-780b4d67d787</Key>
      <Caption>Light Mode Controller</Caption>
      <Alias>lightMode/lightModeController</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>befdbe50-d68b-415b-8ee5-c09289aeff14</Key>
      <Caption>Light Mode Custom Colors</Caption>
      <Alias>lightMode/lightModeCustomColors</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>faf57e05-9dca-4dea-8cd9-e749318c6303</Key>
      <Caption>Dark Mode Preset</Caption>
      <Alias>darkMode/darkModePreset</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>fc6b72d9-dce3-4a6a-8a89-54fa96e5a81c</Key>
      <Caption>Light Mode Preset Colors</Caption>
      <Alias>lightMode/lightModePresetColors</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>