@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<MediaWallLayout>>
@{

}

<div class="m-4 max-w-xl justify-self-center"> 
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>

<style>
    :root{
        --umb-block-grid--areas-column-gap: calc(var(--spacing) * 3);
        --umb-block-grid--areas-row-gap: calc(var(--spacing)* 3);
    }
</style>