@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextBlock>>
@{
}


<div class="flex h-full">
    <h1>@Model.Content.Text</h1>
    <h1>@Model.Content.Text</h1>
    <h1>@Model.Content.Text</h1>
</div>
