@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextBlock, RichTextBlockSettings>>
@{
    var paddingStyle = Model.Settings?.GenerateCss<IPaddingProperties>();
    var marginStyle = Model.Settings?.GenerateCss<IMarginProperties>();
}

<div style="@paddingStyle@marginStyle">
    @Html.Raw(Model.Content.Text)
</div>
