@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextBlock>>
@{
}


<div class="flex place-content-center">
    @Html.Raw(Model.Content.Text)
</div>
