<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44ba43ee-b78a-482b-898c-ddd9bcf43f6a" Alias="Align Grid Block Properties - Align - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Align Grid Block Properties - Align - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "unset",
    "auto",
    "start",
    "end",
    "center",
    "stretch",
    "baseline"
  ]
}]]></Config>
</DataType>