<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98c94e49-cf9d-4ef9-bfc7-4df865e06cfd" Alias="[BlockList] - Social Links" Level="3">
  <Info>
    <Name>[BlockList] - Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f9b185a1-2f17-45ad-8436-39639a7b1702",
      "label": "{:link}"
    }
  ]
}]]></Config>
</DataType>