<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f07afa4e-1db3-48cb-8961-6c35562121e2" Alias="[BlockList] - Resources" Level="3">
  <Info>
    <Name>[BlockList] - Resources</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc918ea7-21a7-46f6-838d-13912be4fc0f"
    }
  ]
}]]></Config>
</DataType>