<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c800f148-8d9c-49e7-a616-83f31aed67c5" Alias="[BlockGrid] - One Column" Level="3">
  <Info>
    <Name>[BlockGrid] - One Column</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom/Block+Grids</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout",
      "key": "80edc4ba-b7b6-41db-acdf-271b0d6219b4"
    },
    {
      "name": "Area Layouts",
      "key": "9c8c664a-ed22-4b2e-8e92-e824e946cc68"
    },
    {
      "name": "Blocks",
      "key": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3"
    },
    {
      "contentElementTypeKey": "9427bbf5-bdb4-48ae-9538-3daf9025b4b0",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3"
    },
    {
      "contentElementTypeKey": "83d96e8f-1bc3-4377-9fa6-7f8f70cc38e1",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3"
    },
    {
      "contentElementTypeKey": "82fb087b-a166-4f58-bf7d-3536b88fc798",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "settingsElementTypeKey": "f1269131-6970-4157-9133-765d75842076",
      "areas": [
        {
          "key": "b28bf90b-713b-4c4f-a52d-29de84681b70",
          "alias": "area",
          "columnSpan": 1,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 1,
  "useLiveEditing": true,
  "validationLimit": {}
}]]></Config>
</DataType>