<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9e4ca8f-e5f6-42da-b1ac-65945cb4e779" Alias="[BlockList] - Main Content" Level="3">
  <Info>
    <Name>[BlockList] - Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "82fb087b-a166-4f58-bf7d-3536b88fc798",
      "settingsElementTypeKey": "f1269131-6970-4157-9133-765d75842076"
    },
    {
      "contentElementTypeKey": "9427bbf5-bdb4-48ae-9538-3daf9025b4b0"
    }
  ],
  "useSingleBlockMode": false
}]]></Config>
</DataType>