<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86d5935e-2c81-49b8-879d-7d128863089a" Alias="[BlockGrid] - Main Content" Level="3">
  <Info>
    <Name>[BlockGrid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom/Block+Grids</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "80edc4ba-b7b6-41db-acdf-271b0d6219b4"
    },
    {
      "name": "Blocks",
      "key": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "d510034d-9173-4a12-be84-37853e873876",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "areas": [
        {
          "key": "6050bca6-ab7c-4cfd-aed2-06b714383f06",
          "alias": "Left Column",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "97cfe336-eb85-41ea-b28f-4b77d6b4a0ea"
            }
          ],
          "maxAllowed": 1
        },
        {
          "key": "c72b2ff9-b7b9-4ad5-a7d2-08603478f686",
          "alias": "Right Column",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "97cfe336-eb85-41ea-b28f-4b77d6b4a0ea"
            }
          ],
          "maxAllowed": 1
        }
      ],
      "settingsElementTypeKey": "4ce5054a-9662-4aa1-ba06-107cfeb7c7c2",
      "areaGridColumns": 12,
      "columnSpanOptions": []
    },
    {
      "contentElementTypeKey": "a5f9918c-4683-49af-a315-09e38be66ae0",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "areas": [
        {
          "key": "805c39da-22d3-47db-8de6-fc3846059478",
          "alias": "Left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "0df77aee-3af2-4560-9fc7-ee267ae348f3",
          "alias": "Center",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "e0483705-581b-48b4-856f-d57fd20ec4c8",
          "alias": "Right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "d062444d-0536-4214-9a60-f0c13c737b0f",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "areas": [
        {
          "key": "b2ec1ee6-1758-45ac-b895-764f5d6d469f",
          "alias": "Row 1",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "d796b68f-6618-4b18-b8b3-0ba57dcd5a80",
          "alias": "Row 2 Col 1",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "6e1b81c6-dd4e-44f6-9964-3353a17e35fa",
          "alias": "Row 2 Col 2",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "922bf2a1-c627-4fbd-9159-3fb6c119f321",
          "alias": "Row 2 Col 3",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "settingsElementTypeKey": "3cc49a0a-45a1-4551-a1c8-d000909d6348"
    },
    {
      "contentElementTypeKey": "aed4224c-5be0-4b60-8304-0bfe958ce137",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "settingsElementTypeKey": "77e9a651-db56-4f98-99ce-d7abc9a3e778",
      "areas": [
        {
          "key": "2a891dc4-0573-4269-bced-7c18b9519e96",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a"
            }
          ],
          "maxAllowed": 1,
          "minAllowed": 0
        },
        {
          "key": "64267d86-c063-44a7-8a85-c4ec84720c3e",
          "alias": "area1",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a"
            }
          ],
          "maxAllowed": 1
        },
        {
          "key": "05e038a2-ab52-4853-a237-38f58c70744f",
          "alias": "area2",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a"
            }
          ],
          "maxAllowed": 1
        },
        {
          "key": "25d44745-1f47-41c9-92d0-5d7f370a2a9c",
          "alias": "area3",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a"
            }
          ],
          "maxAllowed": 1
        },
        {
          "key": "5c6df21a-7506-4730-b062-6488bc7e5caa",
          "alias": "area4",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a"
            }
          ],
          "maxAllowed": 1
        },
        {
          "key": "df1cf230-3e07-4e8a-8280-dc220fbe1761",
          "alias": "area5",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "elementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a"
            }
          ],
          "maxAllowed": 1
        }
      ],
      "areaGridColumns": 12,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 0
    },
    {
      "contentElementTypeKey": "db6e9198-399d-4616-ae92-6225704e65a9",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "areas": [
        {
          "key": "7d2452fb-66cb-4b1e-9ab9-b9e5edbfdb03",
          "alias": "Row 1 Col 1",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "9b6d603d-ce0b-4cb6-bbf5-b7670f7197fb",
          "alias": "Row 1 Col 2",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "02a3eb7e-d4ea-41f7-960a-b16e93339b8f",
          "alias": "Row 2 Col 1",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "5337343f-d33f-463d-87fe-319852fd3ff9",
          "alias": "Row 2 Col 2",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "d64b2dc6-1ac0-439f-bb01-7ea4d0aafd16",
          "alias": "Row 2 Col 3",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "settingsElementTypeKey": "5c376354-2c29-4f14-a0d8-ea83856589cf"
    },
    {
      "contentElementTypeKey": "bb8dc9b6-86dd-4420-b5fe-5d3aa4b67c0a",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3",
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 6,
      "settingsElementTypeKey": "c01e18e8-bb48-4fa0-8260-b921c1a54c5c"
    },
    {
      "contentElementTypeKey": "9427bbf5-bdb4-48ae-9538-3daf9025b4b0",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 6,
      "settingsElementTypeKey": "5ff5efd8-0c78-4a82-ab1c-cd92c5b64043"
    },
    {
      "contentElementTypeKey": "83d96e8f-1bc3-4377-9fa6-7f8f70cc38e1",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3",
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "d3a62b40-7a08-4ecc-9ad9-61cb1dbe82eb"
    },
    {
      "contentElementTypeKey": "849c4d5b-d482-4758-8f0b-9cc2ad69ec87",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3",
      "rowMinSpan": 1,
      "rowMaxSpan": 6,
      "settingsElementTypeKey": "5523df01-27bf-4c7c-9144-beb87118440f",
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "0331810e-160e-4e22-8cba-dfbf07108887",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "settingsElementTypeKey": "27b5e4db-e76d-46a2-b9b4-2f318c444d5c",
      "areas": [
        {
          "key": "984deacd-1f13-408c-9bbc-843774a32811",
          "alias": "Row 1",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "97cfe336-eb85-41ea-b28f-4b77d6b4a0ea",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "80edc4ba-b7b6-41db-acdf-271b0d6219b4",
      "areas": [
        {
          "key": "b58f1677-a5fa-47f4-996e-d3d804285887",
          "alias": "Column Content",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "groupKey": "1c5f6c27-6a98-4dfa-bb8e-bb7d016db0d3"
            }
          ]
        }
      ],
      "settingsElementTypeKey": "a176e953-3701-4981-bdfb-6f4f7d83b581"
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>