<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e1d9c77-c550-430d-b033-108d106d70da" Alias="[BlockGrid] - Footer" Level="3">
  <Info>
    <Name>[BlockGrid] - Footer</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom/Block+Grids</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "bfbdccfb-ae6d-4266-baf9-c16cc33b1c7e"
    },
    {
      "name": "Blocks",
      "key": "5e4c591e-80a6-4676-91db-881454209aa0"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "d510034d-9173-4a12-be84-37853e873876",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "bfbdccfb-ae6d-4266-baf9-c16cc33b1c7e",
      "settingsElementTypeKey": "4ce5054a-9662-4aa1-ba06-107cfeb7c7c2",
      "areas": [
        {
          "key": "ea7717c4-70c3-4420-8c1e-543d5cdad0dd",
          "alias": "Left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": []
        },
        {
          "key": "f181e34d-8065-42f3-8fb0-b7a936dafca5",
          "alias": "Right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 1,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "97cfe336-eb85-41ea-b28f-4b77d6b4a0ea",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "bfbdccfb-ae6d-4266-baf9-c16cc33b1c7e",
      "columnSpanOptions": [],
      "settingsElementTypeKey": "a176e953-3701-4981-bdfb-6f4f7d83b581",
      "areas": [
        {
          "key": "7d011525-950d-4f28-ae87-80779e9b33c0",
          "alias": "Section",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "maxAllowed": 1,
              "groupKey": "5e4c591e-80a6-4676-91db-881454209aa0"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "b284e1ea-e9b7-42b6-9a74-a445a3e04081",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5e4c591e-80a6-4676-91db-881454209aa0",
      "settingsElementTypeKey": "a3c79c88-a594-47c9-b6d3-6a93043f7294"
    },
    {
      "contentElementTypeKey": "a5f9918c-4683-49af-a315-09e38be66ae0",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "bfbdccfb-ae6d-4266-baf9-c16cc33b1c7e",
      "areas": [
        {
          "key": "9807d042-ff7b-4934-be29-cfc5c79ca922",
          "alias": "Left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "86c180df-ab5a-47bc-a282-6a122392b8d0",
          "alias": "Center",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "aa2f1649-056b-4348-8d71-e525e02d9f04",
          "alias": "Right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [],
      "settingsElementTypeKey": "937fbe95-5e75-4149-aba4-3f445fd18b73"
    },
    {
      "contentElementTypeKey": "3a9512c2-3800-4808-907b-ab512f6eb28c",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "5e4c591e-80a6-4676-91db-881454209aa0"
    },
    {
      "contentElementTypeKey": "9ee159ab-34a3-4824-a1b5-069b18d77724",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "5e4c591e-80a6-4676-91db-881454209aa0"
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>