<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13d088ea-4993-494a-ac28-8fd420ff3ea7" Alias="[Collection] - Rentals Listing" Level="1">
  <Info>
    <Name>[Collection] - Rentals Listing</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "header": "Last edited",
      "alias": "updateDate",
      "isSystem": 1
    },
    {
      "header": "Created by",
      "alias": "creator",
      "isSystem": 1
    },
    {
      "alias": "addedBy",
      "header": "Added By",
      "isSystem": 0,
      "nameTemplate": "{=value}"
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "name",
  "orderDirection": "desc",
  "pageSize": 10,
  "showContentFirst": false
}]]></Config>
</DataType>