<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d09ba516-912d-4f22-b472-9b95cd94d4df" Alias="[ColorPicker] - Background Colors" Level="3">
  <Info>
    <Name>[ColorPicker] - Background Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom/Color+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "F6F6EA",
      "label": "Alpine Lightest"
    },
    {
      "value": "EEEED5",
      "label": "Alpine Lighter"
    },
    {
      "value": "C5C56C",
      "label": "Alpine Light"
    },
    {
      "value": "ADAD2D",
      "label": "Alpine"
    },
    {
      "value": "8A8A24",
      "label": "Alpine  Dark"
    },
    {
      "value": "454512",
      "label": "Alpine Darker"
    },
    {
      "value": "33330D",
      "label": "Alpine Darkest"
    },
    {
      "value": "F2F2F2",
      "label": "Neutral Lightest"
    },
    {
      "value": "D8D8D8",
      "label": "Neutral Lighter"
    },
    {
      "value": "B2B2B2",
      "label": "Neutral Light"
    },
    {
      "value": "7F7F7F",
      "label": "Neutral"
    },
    {
      "value": "4C4C4C",
      "label": "Neutral Dark"
    },
    {
      "value": "191919",
      "label": "Neutral Darker"
    },
    {
      "value": "000000",
      "label": "Neutral Darkest"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>