<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96354395-ba62-4151-8978-6152a2484218" Alias="[ColorPicker] - Text Colors" Level="3">
  <Info>
    <Name>[ColorPicker] - Text Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom/Color+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "F2F2F2",
      "label": "Neutral Lightest"
    },
    {
      "value": "000000",
      "label": "Neutral Darkest"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>