<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4a5e2ba-b120-4c77-9dd6-a8d08c15353f" Alias="[ColorPicker] - Accent Colors" Level="3">
  <Info>
    <Name>[ColorPicker] - Accent Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom/Color+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "F7EAEA",
      "label": "Tall Poppy Lightest"
    },
    {
      "value": "F0D5D5",
      "label": "Tall Poppy Lighter"
    },
    {
      "value": "CA6C6C",
      "label": "Tall Poppy Light"
    },
    {
      "value": "B42D2D",
      "label": "Tall Poppy"
    },
    {
      "value": "902424",
      "label": "Tall Poppy Dark"
    },
    {
      "value": "481212",
      "label": "Tall Poppy Darker"
    },
    {
      "value": "360D0D",
      "label": "Tall Poppy Darkest"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>