<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0eab9e29-88e7-4236-8a96-f3ecb3a6349f" Alias="[DropDown] - TW Border Radius" Level="3">
  <Info>
    <Name>[DropDown] - TW Border Radius</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom/Drop+Downs</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "XS",
    "SM",
    "MD",
    "LG",
    "XL",
    "2XL",
    "3xl",
    "4xl"
  ]
}]]></Config>
</DataType>