<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44ba43ee-b78a-482b-898c-ddd9bcf43f6a" Alias="[DropDown] - Align Self" Level="1">
  <Info>
    <Name>[DropDown] - Align Self</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "Start",
    "End",
    "End-Safe",
    "Center",
    "Center-Safe",
    "Baseline",
    "Baseline-last",
    "Stretch"
  ]
}]]></Config>
</DataType>