<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e996e7b-ff11-4e00-b38d-5b5285c42b5b" Alias="[DropDown] - Justify Items" Level="1">
  <Info>
    <Name>[DropDown] - Justify Items</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "start",
    "center",
    "end",
    "left",
    "right"
  ]
}]]></Config>
</DataType>