<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b3ac7a6-152b-4dff-a0e5-f63a0a6fa810" Alias="[DropDown] - Image Object Fit" Level="1">
  <Info>
    <Name>[DropDown] - Image Object Fit</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "Fill",
    "Contain",
    "Cover",
    "None",
    "Scale-down"
  ]
}]]></Config>
</DataType>