<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef94b7e2-1e38-4378-9fe1-7285224d74e3" Alias="[DropDown] - TW Rounded" Level="1">
  <Info>
    <Name>[DropDown] - TW Rounded</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "XS",
    "SM",
    "MD",
    "LG",
    "XL",
    "2XL"
  ]
}]]></Config>
</DataType>