<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23e1795e-2712-42f9-9c2b-c1456c19e05c" Alias="[DropDown] - Align Content" Level="3">
  <Info>
    <Name>[DropDown] - Align Content</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom/Drop+Downs</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "Center",
    "Start",
    "End",
    "Between",
    "Around",
    "Evenly",
    "Baseline",
    "Stretch"
  ]
}]]></Config>
</DataType>