<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e996e7b-ff11-4e00-b38d-5b5285c42b5b" Alias="[DropDown] - Justify Items" Level="3">
  <Info>
    <Name>[DropDown] - Justify Items</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom/Drop+Downs</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "Start",
    "End",
    "End-Safe",
    "Center",
    "Center-Safe",
    "Stretch"
  ]
}]]></Config>
</DataType>