<?xml version="1.0" encoding="utf-8"?>
<DataType Key="209635c2-f4af-48df-af34-89a944059ce4" Alias="[DropDown] - Align Items" Level="1">
  <Info>
    <Name>[DropDown] - Align Items</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "unset",
    "start",
    "center",
    "end"
  ]
}]]></Config>
</DataType>