<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ddbefbaf-23c7-43e8-af55-4f6a464fc203" Alias="[DropDown] - Justify Self" Level="1">
  <Info>
    <Name>[DropDown] - Justify Self</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "unset",
    "auto",
    "start",
    "end",
    "center",
    "stretch"
  ]
}]]></Config>
</DataType>