<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23e1795e-2712-42f9-9c2b-c1456c19e05c" Alias="[DropDown] - Aling Content" Level="1">
  <Info>
    <Name>[DropDown] - Aling Content</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Unset",
    "Start",
    "Center",
    "End",
    "Between",
    "Around",
    "Evenly"
  ]
}]]></Config>
</DataType>