<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f17218a9-98b3-46d2-95af-5bc6d5bc1353" Alias="[EyeDropper] - Pick Color" Level="1">
  <Info>
    <Name>[EyeDropper] - Pick Color</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": true,
  "showPalette": true
}]]></Config>
</DataType>