<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9120b49-8d6a-436c-9844-06abbf8bd7f0" Alias="Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": true,
  "showPalette": true
}]]></Config>
</DataType>