<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20037cd3-c228-4652-9027-b5bf2caad630" Alias="[Integer] - Number" Level="3">
  <Info>
    <Name>[Integer] - Number</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Custom/Numeric</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>