<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6360ac1d-fe61-4c44-a8b0-bbb0f9767ab7" Alias="[Integer] - Margin" Level="3">
  <Info>
    <Name>[Integer] - Margin</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Custom/Numeric</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 25
}]]></Config>
</DataType>