<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e91d20c5-9d5e-42ca-8af3-6818f3678ec8" Alias="[Integer] - Padding" Level="3">
  <Info>
    <Name>[Integer] - Padding</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Custom/Numeric</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 25
}]]></Config>
</DataType>