<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81ea1388-14d9-494b-b7d2-41d6a8fba2b9" Alias="[Integer] - Percent" Level="1">
  <Info>
    <Name>[Integer] - Percent</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 100,
  "min": 0
}]]></Config>
</DataType>