<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a45ccec-af82-4e1c-9460-56906c89d535" Alias="[Numeric] - Gap" Level="1">
  <Info>
    <Name>[Numeric] - Gap</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>