<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af5fcf2a-1a8f-4395-ab03-1dffff168f3b" Alias="Rental - Price - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Rental - Price - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "placeholder": "Enter the price",
  "step": "0.01"
}]]></Config>
</DataType>