<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff2697e3-765e-4d05-8684-b782dda4d64b" Alias="[RichTextTipTap] - Rich Text Box" Level="1">
  <Info>
    <Name>[RichTextTipTap] - Rich Text Box</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.Table"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline"
      ],
      [
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote",
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia",
        "Umb.Tiptap.Toolbar.Heading1",
        "Umb.Tiptap.Toolbar.Heading2",
        "Umb.Tiptap.Toolbar.Heading3",
        "Umb.Tiptap.Toolbar.CodeBlock",
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.Redo",
        "Umb.Tiptap.Toolbar.FontFamily",
        "Umb.Tiptap.Toolbar.FontSize",
        "Umb.Tiptap.Toolbar.StyleSelect",
        "Umb.Tiptap.Toolbar.Table",
        "Umb.Tiptap.Toolbar.ClearFormatting",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.TextAlignJustify"
      ]
    ]
  ]
}]]></Config>
</DataType>