<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe173682-41fe-453a-94aa-c48766109a8f" Alias="Site Properties - Redirect Type - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Site Properties - Redirect Type - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "301 - Permanent",
    "302 - Temporary"
  ],
  "multiple": false
}]]></Config>
</DataType>