<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a515f90-63f9-4268-8dba-929054625a53" Alias="[Toggle] - Theme Custom/Preset" Level="1">
  <Info>
    <Name>[Toggle] - Theme Custom/Preset</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "labelOff": "Preset",
  "labelOn": "Custom",
  "showLabels": true
}]]></Config>
</DataType>