<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f8acb3f-5be6-4264-be08-7fdfd88d30f9" Alias="[URLPicker] - Single URL Picker" Level="1">
  <Info>
    <Name>[URLPicker] - Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 1
}]]></Config>
</DataType>