@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridModel>
@{
    if (Model?.Any() != true) { return; }

    var numberOfColumns = Model.GridColumns?.ToString() ?? "12";
}

<div id="defaultBlockGrid" class="umb-block-grid__layout-container"
     style="--grid-columns:@numberOfColumns;">
    @await Html.GetBlockGridItemsHtmlAsync(Model, Components.ITEMS_GRID)
</div>

