@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    if (Model?.Areas.Any() != true) { return; }

    var numberOfColumns = Model.AreaGridColumns?.ToString() ?? Model.GridColumns?.ToString() ?? "12";
}

<div class="umb-block-grid__area-container"
     style="--area-grid-columns:@numberOfColumns;">
    @foreach (var area in Model.Areas)
    {
        @await Html.GetBlockGridItemAreaHtmlAsync(area, "dynamicArea")
    }
</div>