@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var siteSettings = Model.GetSiteSettings();
    var themeColorsCss = siteSettings?.GetThemeClasses();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/blockgridlayout.css" />
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>DevApp</title>
</head>
<body class="min-h-screen">
    <header class="sticky top-0 z-50 @themeColorsCss">
        @await Html.PartialAsync("Header")
    </header>

    <main class="w-full @themeColorsCss">
        @RenderBody()
    </main>

    <footer class="mt-auto">
        @* @await Component.InvokeAsync("Footer") *@
    </footer>
</body>
</html>