@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "master.cshtml";

    var rentals = Umbraco.ContentAtRoot().DescendantsOrSelf<Rental>();

    var addRentalFormPath = Model.Children<SubmitRentalFormPage>().Single().UrlSegment;
}

<div class="flex min-h-dvh">
    <div class="sidebar z-2">
        <div class="drawer lg:drawer-open">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col items-center justify-center">
                <!-- Page content here -->
                <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </label>
            </div>
            <div class="drawer-side mt-18 lg:mt-0">
                <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu text-base-content min-h-dvh w-50 bg-red-300 p-4">
                    <!-- Sidebar content here -->
                    <li><a href="@addRentalFormPath" class="btn btn-primary">Add Rental</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="size-full flex-1 p-10">
        <div class="grid grid-cols-1 place-items-center gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            @foreach(var rental in rentals)
            {
                @await Html.PartialAsync("Components/RentalCard", rental)
            }
        </div>
    </div>
</div>