@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Rental>
@{
	Layout = "master.cshtml";
}

<div class="min-h-dvh p-10">
    @await Html.PartialAsync("Components/RentalCard", Model)
</div>