@model Rental

<div class="card bg-base-100 shadow-sm">
    <figure>
        <img src="@Model.Gallery?.First().GetCropUrl()"
             alt="Shoes" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">@Model.Title</h2>
        @Html.Raw(Model.Description)
        <p>$@Model.Price</p>
        <div class="card-actions justify-end">
            <a href="@Model.UrlSegment" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>